{{set . "title" .oringinalHintFiction.Title}}
{{template "header.html" .}}

<div class="container"> 
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="text-muted">编辑微小说:</div>
    <br>
    <form role="form" action="{{url "HintFiction.PostEdit" .oringinalHintFiction.Id}}" method="POST">  
      <div class="input-group">
        <span class="input-group-addon">标签</span>     
        <select class="form-control input-sm" name="newHintFiction.Tag">
          {{if eq "中国微小说" .oringinalHintFiction.Tag}}           
          <option selected>{{.oringinalHintFiction.Tag}}</option>
          <option>国外微小说</option> 
          {{else if eq "国外微小说" .oringinalHintFiction.Tag}}    
          <option selected>{{.oringinalHintFiction.Tag}}</option>
          <option>中国微小说</option>  
          {{else}}
          <option selected>{{.oringinalHintFiction.Tag}}</option>
          <option>中国微小说</option>  
          <option>国外微小说</option> 
          {{end}} 
        </select>
      </div> 
      <br>        

      {{$title := .oringinalHintFiction.Title}}
      {{with $field := field "newHintFiction.Title" .}} 
      <div class="input-group {{$field.ErrorClass}}">         
        <span class="input-group-addon">标题</span>      
        <textarea class="form-control" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" rows="1">{{$title}}</textarea> 
        {{if $field.Error}} 
          <span class="help-inline">{{$field.Error}}</span> 
        {{end}}         
      </div> 
      {{end}} 
      <br>           
      
      {{$content := .oringinalHintFiction.Content}}
      {{with $field := field "newHintFiction.Content" .}} 
      <div class="input-group {{$field.ErrorClass}}">         
        <span class="input-group-addon">内容</span>      
        <textarea class="form-control" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" rows="20">{{$content}}</textarea> 
        {{if $field.Error}} 
          <span class="help-inline">{{$field.Error}}</span> 
        {{end}}         
      </div> 
      {{end}} 
      <br>    

      {{$author := .oringinalHintFiction.Author}}
      {{with $field := field "newHintFiction.Author" .}} 
      <div class="input-group {{$field.ErrorClass}}">            
          <span class="input-group-addon">作者</span>    
          <input type="text" class="form-control" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$author}}" placeholder="请输入作者" required> 
          {{if $field.Error}} 
          <span class="help-inline">{{$field.Error}}</span> 
          {{end}}        
      </div> 
      {{end}} 
      <br>

      <div class="input-group">                  
        <button type="submit" class="btn btn-primary" id="button_Form_Submit">提交</button> 
      </div>  
      <br>        
    </form> 
  </div>
  <div class="col-md-4"></div>
</div> 

{{template "footer.html" .}}