{{set . "title" "微小说"}}
{{template "header.html" .}}
{{template "navigate_bar.html" .}}
<script>
function updateHintFictionPageList(pageNumber)
{
var xmlhttp;    
if (pageNumber=="")
  {
  document.getElementById("hintFictionlist").innerHTML="";
  return;
  }

if (pageNumber==-1|| pageNumber==-2)
{
  $('.pagination>li').each(function()
  {  
    var status = $(this).prop("class")    
    if (status == "active")
    { 
      var IdNumber = parseInt($(this).prop("id").substr(5)) 
      if (pageNumber == -1)
      {        
        pageNumber = IdNumber -1                   
      }
      else
      {        
        pageNumber = IdNumber + 1 
      }      
    }
  });
} 
// no li which class is active exist when click preious of next page link, just return. 
if (pageNumber==-1|| pageNumber==-2){return}

if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {    
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    { 
      // remove all pagination active class first    
      $('.pagination>li').removeClass('active'); 
      // remove disable regardless of exist
      $('#previous').removeClass('disabled');
      $('#next').removeClass('disabled'); 
      // reach first or last page
      if (pageNumber == 1)
      {
        $('#previous').addClass('disabled');            
      }
      if (pageNumber == {{.pageCount}})
      {       
        $('#next').addClass('disabled');      
      }
      // add active class to the clicked item
      var id = "#"+"page_"+pageNumber
      $(id).addClass('active');
      // return result
      document.getElementById("hintFictionlist").innerHTML=xmlhttp.responseText;
    }
  } 

xmlhttp.open("GET","{{url "HintFiction.PageList" ""}}" + pageNumber, true);
xmlhttp.send();
}
</script>

<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-xs-1"></div> 
      <div class="col-xs-10"> 
        <div class="panel panel-success">      
          <div class="panel-body">
            <div id="hintFictionlist">
              {{range .hintFictionsOnOnePage}}
              <div class="row">
                <div class="col-xs-9"><a href="{{url "HintFiction.Show" .Id}}">{{.Title}}</a></div>    
                <div class="col-xs-3 text-right"><span class="badge">{{.Author}}</div>
              </div>  
              {{end}}    
            </div>
            <div class="text-center">                  
              <ul class="pagination pagination-centered">
                <li value="-1" id="previous" onclick="updateHintFictionPageList(this.value)"><a>上一页</a></li>
                {{range .pages}}
                  {{if eq . 1}}
                  <li value={{.}} id=page_{{.}} class="active" onclick="updateHintFictionPageList(this.value)"><a>{{.}}</a></li>
                  {{else}}
                  <li value={{.}} id=page_{{.}} onclick="updateHintFictionPageList(this.value)"><a>{{.}}</a></li>
                  {{end}}
                {{end}}              
                <li value="-2" id="next" onclick="updateHintFictionPageList(this.value)"><a>下一页</a></li>
              </ul>
            </div>     
          </div>            
        </div>      
      </div>     
    </div>   
  </div>
 </div>

{{template "footer.html" .}}