{{range $index, $element := .users}}   
{{if divideBy $index 6}}&nbsp;</br>{{end}}       
<div class="col-xs-2">
  <div class="panel panel-success" style="height:150px">      
    <div class="panel-body"> 
      <div class="text-center">
        <a href="{{url "User.Index" .NickName}}"><img src={{.AvatarUrl}} alt="头像" class="img-rounded" height="45" width="45"></a>
      </div>                       
      <div class="text-center"></br>
         <a href="{{url "User.Index" .NickName}}"><span style="color:green">{{.NickName}}</br></br></span></a>
      </div>
      <div class="text-center">
        <a href="{{url "Admin.DeleteUser" .NickName}}"><span style="color:red">删除</span></a>
      </div>                                           
    </div>
  </div>
</div>
{{end}}      