{{set . "title" "新增现代诗"}}
{{template "header.html" .}}

{{if eq .nickName "水蓝色"}}
<div class="container"> 
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="text-muted">新增现代诗:</div>
    <br>
    <form role="form" action="{{url "ModernPoem.PostAdd"}}" method="POST">  
      <div class="input-group">
        <span class="input-group-addon">标签</span>     
        <select class="form-control input-sm" name="modernPoem.Tag">          
          <option>尝试诗派</option>
          <option>文学研究会</option>  
          <option>创造社</option>
          <option>湖畔诗派</option>
          <option>新月派</option>
          <option>象征诗派</option>
          <option>现代派</option>
          <option>七月派</option>
          <option>新现代诗派</option>
          <option>蓝星诗社</option>
          <option>创世纪诗社</option>
          <option>朦胧诗派</option>  
          <option>新现实主义</option>
          <option>大学生诗派</option>
          <option>新生代</option>
          <option>其它流派</option>                     
        </select>
      </div> 
      <br>        

      {{with $field := field "modernPoem.Title" .}} 
      <div class="input-group {{$field.ErrorClass}}">         
        <span class="input-group-addon">标题</span>      
        <textarea class="form-control" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" rows="1"></textarea> 
        {{if $field.Error}} 
          <span class="help-inline">{{$field.Error}}</span> 
        {{end}}         
      </div> 
      {{end}} 
      <br>      

      {{with $field := field "modernPoem.Author" .}} 
      <div class="input-group {{$field.ErrorClass}}">            
          <span class="input-group-addon">作者</span>    
          <input type="text" class="form-control" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="请输入作者" required> 
          {{if $field.Error}} 
          <span class="help-inline">{{$field.Error}}</span> 
          {{end}}        
      </div> 
      {{end}} 
      <br>     
      
      {{with $field := field "modernPoem.Content" .}} 
      <div class="input-group {{$field.ErrorClass}}">         
        <span class="input-group-addon">内容</span>      
        <textarea class="form-control" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" rows="15"></textarea> 
        {{if $field.Error}} 
          <span class="help-inline">{{$field.Error}}</span> 
        {{end}}         
      </div> 
      {{end}} 
      <br>

      <div class="input-group">                  
        <button type="submit" class="btn btn-primary" id="button_Form_Submit">提交</button> 
      </div>  
      <br>        
    </form> 
  </div>
  <div class="col-md-4"></div>
</div>
{{else}}
<div class="row text-center text-warning">
  <br><br><br><br>
  抱歉，您没有访问该页面的权限，只有管理员才可查看该页面。
  <br><br><br><br>
</div>     
{{end}}

{{template "footer.html" .}}