{{set . "title" "现代诗"}}
{{template "header.html" .}}
{{template "navigate_bar.html" .}}
<script>
function updateModernPoemPageList(pageNumber)
{
var xmlhttp;    
if (pageNumber=="")
  {
  document.getElementById("poemlist").innerHTML="";
  return;
  }

if (pageNumber==-1|| pageNumber==-2)
{
  $('.pagination>li').each(function()
  {  
    var status = $(this).prop("class")    
    if (status == "active")
    { 
      var IdNumber = parseInt($(this).prop("id").substr(5)) 
      if (pageNumber == -1)
      {        
        pageNumber = IdNumber -1                   
      }
      else
      {        
        pageNumber = IdNumber + 1 
      }      
    }
  });
} 
// no li which class is active exist when click preious of next page link, just return. 
if (pageNumber==-1|| pageNumber==-2){return}

if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {    
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    { 
      // remove all pagination active class first    
      $('.pagination>li').removeClass('active'); 
      // remove disable regardless of exist
      $('#previous').removeClass('disabled');
      $('#next').removeClass('disabled'); 
      // reach first or last page
      if (pageNumber == 1)
      {
        $('#previous').addClass('disabled');            
      }
      if (pageNumber == {{.pageCount}})
      {       
        $('#next').addClass('disabled');      
      }
      // add active class to the clicked item
      var id = "#"+"page_"+pageNumber
      $(id).addClass('active');
      // return result
      document.getElementById("poemlist").innerHTML=xmlhttp.responseText;
    }
  } 

xmlhttp.open("GET","{{url "ModernPoem.PageList" ""}}" + pageNumber, true);
xmlhttp.send();
}
</script>

<div class="container">
  <div class="row">
    <div class="col-xs-1"></div> 
    <div class="col-xs-10"> 
      <div class="panel panel-success">      
        <div class="panel-body">
          <div id="poemlist">
            {{range .poemsOnOnePage}}
            <div class="row">
              <div class="col-xs-10"><a href="{{url "ModernPoem.Show" .Id}}">{{.Title}}</a></div>    
              <div class="col-xs-2"><span class="badge text-right">{{.Author}}</div>
            </div>  
            {{end}}    
            </div>
          </div>
          <div class="text-center">                  
            <ul class="pagination pagination-centered">
              <li value="-1" id="previous" onclick="updateModernPoemPageList(this.value)"><a>上一页</a></li>
              {{range .pages}}
                <li value={{.}} id=page_{{.}} onclick="updateModernPoemPageList(this.value)"><a>{{.}}</a></li>
              {{end}}              
              <li value="-2" id="next" onclick="updateModernPoemPageList(this.value)"><a>下一页</a></li>
            </ul>
          </div>     
        </div>            
      </div>      
    </div>     
  </div>   
</div>

{{template "footer.html" .}}