{{set . "title" .quotation.OriginalTitle}}
{{template "header.html" .}}
{{template "navigate_bar.html" .}}

<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-xs-1"></div> 
      <div class="col-xs-10">    
        <pre class="text-center">
          <div class="text-center"><top>{{.quotation.OriginalTitle}}</top></div>
          <div class="text-center"><top>{{.quotation.Author}}</top></div>          
          <div class="text-left"><content>{{.quotation.Content}}</content></div>                     
        </pre>      
      </div>     
    </div> 
    {{if eq .nickName "水蓝色"}}
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
    	  <ul class="nav navbar-nav navbar-right">
          <li><a id="edit" href="{{url "Quotation.Edit" .quotation.Id}}">编辑</a></li>  
          <li><a id="delete" href="{{url "Quotation.Delete" .quotation.Id}}">删除</a></li>  
        </ul>
      </div> 
    </div>
    {{end}}  
  </div>
</div>

{{template "footer.html" .}}