{{set . "title" "新增古代诗词"}}
{{template "header.html" .}}

{{template "admin_navigate_bar.html" .}}

<div class="container"> 
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="text-muted">新增古代诗词:</div>
    <br>
    <form role="form" action="{{url "AncientPoem.PostAdd"}}" method="POST">  
      <div class="input-group">
        <span class="input-group-addon">类型</span>     
        <select class="form-control input-sm" name="ancientPoem.Style">          
          <option>古代诗词</option>                   
        </select>
      </div> 
      <br>  

      <div class="input-group">
        <span class="input-group-addon">标签</span>     
        <select class="form-control input-sm" name="ancientPoem.Tag">          
          <option>先秦诗歌</option>
          <option>诗经</option>
          <option>楚辞</option>
          <option>乐府</option>         
          <option>南北朝民歌</option>
          <option>唐诗</option>
          <option>宋词</option> 
          <option>元杂剧</option>           
        </select>
      </div> 
      <br>  

      {{with $field := field "ancientPoem.Title" .}} 
      <div class="input-group {{$field.ErrorClass}}">         
        <span class="input-group-addon">标题</span>      
        <textarea class="form-control" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" rows="1"></textarea> 
        {{if $field.Error}} 
          <span class="help-inline">{{$field.Error}}</span> 
        {{end}}         
      </div> 
      {{end}} 
      <br>           
      
      {{with $field := field "ancientPoem.Content" .}} 
      <div class="input-group {{$field.ErrorClass}}">         
        <span class="input-group-addon">内容</span>      
        <textarea class="form-control" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" rows="10"></textarea> 
        {{if $field.Error}} 
          <span class="help-inline">{{$field.Error}}</span> 
        {{end}}         
      </div> 
      {{end}} 
      <br>    

      {{with $field := field "ancientPoem.Author" .}} 
      <div class="input-group {{$field.ErrorClass}}">            
          <span class="input-group-addon">作者</span>    
          <input type="text" class="form-control" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="请输入作者" required> 
          {{if $field.Error}} 
          <span class="help-inline">{{$field.Error}}</span> 
          {{end}}        
      </div> 
      {{end}} 
      <br>

      <div class="input-group">                  
        <button type="submit" class="btn btn-primary" id="button_Form_Submit">提交</button> 
      </div>  
      <br>        
    </form> 
  </div>
  <div class="col-md-4"></div>
</div> 

{{template "footer.html" .}}