{{set . "title" "我的主页"}}
{{template "header.html" .}}
{{template "navigate_bar.html" .}}

<div class="container">
  <div class="row">
  	<div class="col-xs-1"></div>
  	<div class="col-xs-2">
  	  <div class="panel panel-success" style="height:400px">        
        <div class="panel-body">           
          <img src="/public/img/cow.jpg" alt="140x140" class="img-thumbnail"> 
          </br></br> 
          <div class="text-center text-success"><p>手指在燃烧</p></div>  
          </br></br>         
          <a href="#">关注 <span class="badge">42</span></a>   
          <a href="#">粉丝 <span class="badge">42</span></a> 
          <a href="#">私信 <span class="badge">42</span></a> 
          <a href="#">收藏 <span class="badge">42</span></a>
          <a href="#">原创 <span class="badge">42</span></a> 
          <a href="#">评论 <span class="badge">42</span></a> 
          <a href="#">赞美 <span class="badge">42</span></a>          
        </div>                        
      </div> 
    </div> 

  	<div class="col-xs-8">
  	  <div class="panel panel-success" style="height:400px">
        <div class="panel-heading"><h3 class="panel-title">我的文章</h3></div>
        <div class="panel-body"> 
          {{range .articles}}
          <div class="row">
            <div class="col-xs-10"><a href="{{url "HintFiction.Show" .Id}}">{{.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.Date}}</div>
          </div>  
          {{end}} 
        </div>                       
       </div>  
    </div>
  </div>  
</div>

{{template "footer.html" .}}