{{if .isAuthor}}
  {{set . "title" "我的主页"}}
{{else}}
  {{$title := concat .ownerNickName "的主页"}}
  {{set . "title" $title}}
{{end}}

{{template "header.html" .}}
{{template "navigate_bar.html" .}}
<script>
function updateUserArticleList(pageNumber)
{
var xmlhttp;    
if (pageNumber=="")
  {
  document.getElementById("articlelist").innerHTML="";
  return;
  }

if (pageNumber==-1|| pageNumber==-2)
{
  $('.pagination>li').each(function()
  {  
    var status = $(this).prop("class")    
    if (status == "active")
    { 
      var IdNumber = parseInt($(this).prop("id").substr(5)) 
      if (pageNumber == -1)
      {        
        pageNumber = IdNumber -1                   
      }
      else
      {        
        pageNumber = IdNumber + 1 
      }      
    }
  });
} 
// no li which class is active exist when click preious of next page link, just return. 
if (pageNumber==-1|| pageNumber==-2){return}

if (pageNumber == 0){return}
if (pageNumber > {{.pageCount}}){return}

if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {    
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    { 
      // remove all pagination active class first    
      $('.pagination>li').removeClass('active'); 
      // remove disable regardless of exist
      $('#previous').removeClass('disabled');
      $('#next').removeClass('disabled'); 
      // reach first or last page
      if (pageNumber == 1)
      {
        $('#previous').addClass('disabled');            
      }
      if (pageNumber == {{.pageCount}})
      {       
        $('#next').addClass('disabled');      
      }
      // add active class to the clicked item
      var id = "#"+"page_"+pageNumber
      $(id).addClass('active');
      // return result
      document.getElementById("articlelist").innerHTML=xmlhttp.responseText;
    }
  } 

xmlhttp.open("GET","{{url "User.PageListOnHomePage" .ownerNickName ""}}" + pageNumber, true);
xmlhttp.send();
}
</script>

<div id="content">
  <div class="container">
    <div class="row">
    	<div class="col-xs-1"></div>
    	<div class="col-xs-3">
    	  <div class="panel panel-success" style="height:350px">  
          <div class="panel-heading"><h3 class="panel-title text-center">基本信息</h3></div>      
          <div class="panel-body"> 
            <div class="text-center">          
              <img src={{.userAvatarUrl}} alt="头像" class="img-rounded" width="150" height="150"> 
            </div></br>
            <div class="text-center text-success"><p>{{.ownerNickName}}</p></div>  
            </br> 
            <div class="row"> 
              <div class="col-xs-3">
                <span class="badge">{{.wathCount}}</span>              
                <a href="{{url "User.Watch" .ownerNickName}}">关注 </a>
              </div>  
              <div class="col-xs-3">     
                <span class="badge">{{.fansCount}}</span>  
                <a href="{{url "User.Fans" .ownerNickName}}">粉丝</a> 
              </div> 
              <div class="col-xs-3">
                <span class="badge">{{.articleCollectionCount}}</span>         
                <a href="{{url "User.ArticleCollection" .ownerNickName}}">收藏</a>
              </div>
              <div class="col-xs-3">
                <span class="badge">{{.articleCount}}</span>
                <a href="{{url "User.OriginalArticleList" .ownerNickName}}">原创 </a>  
              </div> 
            </div>             
          </div>                        
        </div> 
  
        {{if .nickName}}
        <div class="panel panel-success" style="height:60px">               
          <div class="panel-body">
            {{if .isWatched}}
              <a href="{{url "User.DeleteWatch" .ownerNickName}}">取消关注</a>
            {{else}} 
              <a href="{{url "User.AddWatch" .ownerNickName}}">关注TA</a>  
            {{end}}  
          </div>                        
        </div> 
        {{else}}
        <div class="panel panel-success" style="height:60px"> 
          <div class="panel-body text-success text-center">            
            <a href="{{url "Account.Register"}}">注册一下</a>         
            就可以关注TA了哦    
          </div>                    
        </div>
        {{end}}
  
        <div class="panel panel-success" style="height:210px"> 
          <div class="panel-heading">
            <h3 class="panel-title text-center">
              最新留言<span class="glyphicon glyphicon-comment">
            </h3>
          </div>       
          <div class="panel-body"> 
            {{$lastMessage := StringLimitIncludeLineBreak .lastMessage.Content 100 16}}
            {{nl2br $lastMessage}}  
            <!-- {{$lastMessage := StringLimit .lastMessage.Content 30}}
            {{nl2br $lastMessage}}  -->                                    
            <div class="modal-footer"> 
              <p class="text-right">
                <a href="{{url "User.Message" .ownerNickName}}">更多留言
                <span class="badge">{{.messageCount}}</span></a>
              </p>    
            </div>        
          </div>                        
        </div> 
      </div> 
  
    	<div class="col-xs-7">
    	  <div class="panel panel-success" style="height:620px">
          <!-- <div class="panel-heading"><h3 class="panel-title">我的文章 [{{.articleCount}}]</h3>            
            <div class="text-right">评论</div> 
          </div>  -->
          <div class="panel-body"> 
            <div class="text-left">  
              {{if .isAuthor}}
              <a href="{{url "User.AddArticle"}}">
                <span class="glyphicon glyphicon-plus-sign"></span> 写作
              </a>  
              {{end}} 
            </div>  
            <div class="row">
              <div class="col-xs-8">                
                 <div class="text-left text-success">我的文章 [{{.articleCount}}]</div>
              </div>
              {{if .isAuthor}}
              <div class="col-xs-2">          
                 <div class="text-right text-success">评论</div> 
              </div>
              <div class="col-xs-2">          
                 <div class="text-right text-success">操作</div> 
              </div>
              {{else}}
              <div class="col-xs-4">          
                 <div class="text-right text-success">评论</div> 
              </div>
              {{end}}
            </div>
            <div class="row">            
              <div class="col-xs-12">
                <div class="aligncenter" style="width:auto;height:0;border-top:2px dotted #ccc;font-size:0;"></div>
              </div> 
            </div>

            <div id="articlelist">    
              {{$isAuthor := .isAuthor}}
              {{range .articlesOnOnePage}}
              <div class="row">           
                <div class="col-xs-8">
                  <a href="{{url "User.ShowArticle" .AuthorNickName .Id}}">
                    <span style="color:black">{{.Title}}</span>                    
                  </a>
                </div>
                {{if $isAuthor}}
                <div class="col-xs-2 text-right">
                  <span style="color:green">{{lenOfArray .Comments}}</span>
                </div>
                <div class="col-xs-2 text-right">                  
                  <!-- <span class="text-right">{{.CreateTime}}</span>  -->                                          
                  <a id="edit" href="{{url "User.EditArticle" .Id}}">
                    <span class="glyphicon glyphicon-edit"></span> 
                  </a>
                  <a id="delete" href="{{url "User.DeleteArticle" .Id}}">
                    <span class="glyphicon glyphicon-remove-sign"></span> 
                  </a> 
                </div>
                {{else}}
                <div class="col-xs-4 text-right">
                  <span style="color:green">{{lenOfArray .Comments}}</span>
                </div>
                {{end}} 
              </div>
              {{end}}
            </div>
  
            <div class="text-center">                  
              <ul class="pagination pagination-centered">
                <li value="-1" id="previous" onclick="updateUserArticleList(this.value)"><a>上一页</a></li>
                {{range .pageSlice}}                
                  {{if eq . 1}}
                  <li value={{.}} id=page_{{.}} class="active" onclick="updateUserArticleList(this.value)"><a>{{.}}</a></li>
                  {{else}}
                  <li value={{.}} id=page_{{.}} onclick="updateUserArticleList(this.value)"><a>{{.}}</a></li>
                  {{end}}
                {{end}}                
                <li value="-2" id="next" onclick="updateUserArticleList(this.value)"><a>下一页</a></li>
              </ul>
            </div>      
          </div>                       
         </div>  
      </div>
    </div>  
  </div>
</div>

{{template "footer.html" .}}