{{set . "title" "我的主页"}}
{{template "header.html" .}}
{{template "navigate_bar.html" .}}

<div class="container">
  <div class="row">
  	<div class="col-xs-1"></div>
  	<div class="col-xs-2">
  	  <div class="panel panel-success" style="height:300px">        
        <div class="panel-body">           
          <img src="/public/img/cow.jpg" alt="140x140" class="img-thumbnail"> 
          </br></br> 
          <div class="text-center text-success"><p>手指在燃烧</p></div>  
          </br></br>         
          <a href="#">关注 <span class="badge">42</span></a>   
          <a href="#">粉丝 <span class="badge">42</span></a>            
          <a href="#">收藏 <span class="badge">42</span></a>
          <a href="#">留言 <span class="badge">42</span></a> 
          </br></br>
          {{if .isCurrentUser}}
          <a href="{{url "User.AddArticle"}}">写点东东</a>  
          {{end}}       
        </div>                        
      </div> 
      <div class="panel panel-success" style="height:300px">        
        <div class="panel-body">  
          <div class="text-center text-success"><p>最新留言</p></div>  
          </br>
          <sub>
Expedia makes it easy to book European vacation packages. With top deals on international flights & hotels, anyone can discover Europe's hidden 
          </sub></br> </br> </br> </br>
          <a href="#">更多留言<span class="badge">42</span></a>        
        </div>                        
      </div> 
    </div> 

  	<div class="col-xs-8">
  	  <div class="panel panel-success" style="height:620px">
        <div class="panel-heading"><h3 class="panel-title">我的文章</h3></div>
        <div class="panel-body"> 
          {{range .allArticles}}
          <div class="row">
            <div class="col-xs-9"><a href="{{url "User.ShowArticle" .AuthorId .Id}}">{{.Title}}</a></div>
            <div class="col-xs-3"><span class="badge text-right">{{.CreateTime}}</div>
          </div>  
          {{end}}
          <div class="text-center">                  
            <ul class="pagination pagination-centered">
              <li value="-1" id="previous" onclick="updateEssayList(this.value)"><a>上一页</a></li>
              {{range .pageSlice}}
                <li value={{.}} id=page_{{.}} onclick="updateEssayList(this.value)"><a>{{.}}</a></li>
              {{end}}              
              <li value="-2" id="next" onclick="updateEssayList(this.value)"><a>下一页</a></li>
            </ul>
          </div>      
        </div>                       
       </div>  
    </div>
  </div>  
</div>

{{template "footer.html" .}}