{{set . "title" "个人信息"}}
{{template "header.html" .}}
{{template "navigate_bar.html" .}}
<script>
function updateUserInfoPanel(type)
{
  var xmlhttp;  

if (window.XMLHttpRequest)
  {
    // code for IE7+, Firefox, Chrome, Opera, Safari
    xmlhttp=new XMLHttpRequest();
  }
else
  {
    // code for IE6, IE5
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }

  xmlhttp.onreadystatechange=function()
  {    
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    { 
      // remove all pagination active class first    
      $('.pagination>li').removeClass('active'); 
      // remove disable regardless of exist
      $('#previous').removeClass('disabled');
      $('#next').removeClass('disabled'); 
      // reach first or last page
      if (type == 1)
      {
        $('#previous').addClass('disabled');            
      }
      if (type == {{.pageCount}})
      {       
        $('#next').addClass('disabled');      
      }
      // add active class to the clicked item
      var id = "#"+"page_"+pageNumber
      $(id).addClass('active');
      // return result
      document.getElementById("userInfoPanel").innerHTML=xmlhttp.responseText;
    }
  }
xmlhttp.open("GET","{{url "User.PageList" .userInfo.NickName ""}}" + type, true);
xmlhttp.send();
}

</script>

<div id="content">
  <div class="container">
    <div class="row">
    	<div class="col-xs-1"></div> 	
    	<div class="col-xs-10">
    	  <div class="panel panel-success">
          <div class="panel-heading"><h3 class="panel-title">个人资料</h3></div>
          <div class="panel-body">  
            <div class="col-md-2"> 
              <ul class="nav nav-pills nav-stacked">
                <li value="-1" id="previous" onclick="updateUserInfoPanel(this.value)"><a>基本资料</a></li>
                <li class="active"><a href="#">账号设置</a></li>
                <li><a href="#">额外资料</a></li>
              </ul>
            </div>  

            <div class="col-md-8">
              <div id="userInfoPanel"> 
                <dl class="dl-horizontal text-success">
            	    <dt>头像</dt> <dd><img src={{.userInfo.AvatarUrl}} class="img-thumbnail" alt="头像" height="150" width="150"></dd></br>
                  <dt>昵称</dt> <dd>{{.userInfo.NickName}}</dd></br>
                  <dt>笔名</dt> <dd>{{.userInfo.PenName}}</dd></br>
                  <dt>性别</dt> <dd>{{.userInfo.Gender}}</dd></br>
                  <dt>邮箱</dt> <dd>{{.userInfo.Email}}</dd></br>
                  <dt>生日</dt> <dd>{{.userInfo.Birth}}</dd></br>
                  <dt>喜欢的作者</dt> <dd>{{.userInfo.FavoriteAuthor}}</dd></br>
                  <dt>酷爱的书籍</dt> <dd>{{.userInfo.FavoriteBook}}</dd></br>
                  <dt>兴趣爱好</dt> <dd>{{.userInfo.Intrest}}</dd></br>
                  <dt>个人简介</dt> <dd>{{.userInfo.Introduction}}</dd></br>
                  {{if .isAuthor}}
                  <dt></dt> <dd><a href="{{url "User.EditInfo" .nickName}}">编辑</a></dd></br>
                  {{end}}
                </dl>
              <div> 
            </div>     
          </div>                       
         </div>  
      </div>
    </div> 
  </div>
 </div>
 
{{template "footer.html" .}}