{{set . "title" "个人信息"}}
{{template "header.html" .}}
{{template "navigate_bar.html" .}}
<div class="container">
  <div class="row">
  	<div class="col-xs-1"></div> 	
  	<div class="col-xs-10">
  	  <div class="panel panel-success">
        <div class="panel-heading"><h3 class="panel-title">个人资料</h3></div>
        <div class="panel-body">          
          <dl class="dl-horizontal text-success">
          	<dt>头像</dt> <dd><img src="/public/img/cow.jpg" class="img-thumbnail" alt="Responsive image"></dd></br>
            <dt>昵称</dt> <dd>手指在燃烧</dd></br>
            <dt>笔名</dt> <dd>手指在燃烧</dd></br>
            <dt>性别</dt> <dd>男</dd></br>
            <dt>邮箱</dt> <dd>xausee@gmail.com</dd></br>
            <dt>生日</dt> <dd>阿斯顿发放北京北京和环境水电费水电费</dd></br>
            <dt>喜欢的作者</dt> <dd>阿斯顿发放北京北京和环境水电费水电费阿斯顿发放北京北京和环境水电费水电费阿斯顿发放北京北京和环境水电费水电费阿斯顿发放北京北京和环境水电费水电费阿斯顿发放北京北京和环境水电费水电费阿斯顿发放北京北京和环境水电费水电费</dd></br>
            <dt>酷爱的书籍</dt> <dd>阿斯顿发放北京北京和环境水电费水电费阿斯顿发放北京北京和环境水电费水电费阿斯顿发放北京北京和环境水电费水电费阿斯顿发放北京北京和环境水电费水电费阿斯顿发放北京北京和环境水电费水电费阿斯顿发放北京北京和环境水电费水电费</dd></br>
            <dt>兴趣爱好</dt> <dd>阿斯顿发放北京北京和环境水电费水电费阿斯顿发放北京北京和环境水电费水电费阿斯顿发放北京北京和环境水电费水电费阿斯顿发放北京北京和环境水电费水电费阿斯顿发放北京北京和环境水电费水电费阿斯顿发放北京北京和环境水电费水电费</dd></br>
            <dt>个人简介</dt> <dd>阿斯顿发放北京北京和环境水电费水电费阿斯顿发放北京北京和环境水电费水电费阿斯顿发放北京北京和环境水电费水电费阿斯顿发放北京北京和环境水电费水电费阿斯顿发放北京北京和环境水电费水电费阿斯顿发放北京北京和环境水电费水电费阿斯顿发放北京北京和环境水电费水电费阿斯顿发放北京北京和环境水电费水电费阿斯顿发放北京北京和环境水电费水电费阿斯顿发放北京北京和环境水电费水电费阿斯顿发放北京北京和环境水电费水电费阿斯顿发放北京北京和环境水电费水电费</dd></br>
            {{if eq .userid .authorId}}
             <dt></dt> <dd><a href="{{url "User.EditInfo"}}">编辑</a></dd></br>
            {{end}}
          </dl>      
        </div>                       
       </div>  
    </div>
  </div> 
</div>
{{template "footer.html" .}}