{{set . "title" "个人信息"}}
{{template "header.html" .}}
{{template "navigate_bar.html" .}}
<script>
function updateUserInfoPanel(type)
{
  var xmlhttp;  

if (window.XMLHttpRequest)
  {
    // code for IE7+, Firefox, Chrome, Opera, Safari
    xmlhttp=new XMLHttpRequest();
  }
else
  {
    // code for IE6, IE5
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }

  xmlhttp.onreadystatechange=function()
  {    
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {       
      // remove disable regardless of exist
      $('#basic').removeClass('active');
      $('#password').removeClass('active');  
      $('#setting').removeClass('active'); 
      $('#extra').removeClass('active'); 
      // set clicked link class to active   
      if (type == "1")
      {
        $('#basic').addClass('active');            
      }
      if (type == "2")
      {       
        $('#password').addClass('active');      
      }
      if (type == "3")
      {       
        $('#setting').addClass('active');      
      }
      if (type == "4")
      {       
        $('#extra').addClass('active');      
      }
      // return result
      document.getElementById("userInfoPanel").innerHTML=xmlhttp.responseText;
    }
  }  
  // Seems xmlhttp.open can not be executed in switch case staement?
  if (type=='1')
  {
    xmlhttp.open("GET","{{url "User.GetBasicInfo" .userInfo.NickName}}", true);    
  }
  if (type=='2')
  {
    xmlhttp.open("GET","{{url "User.SetPassword" .userInfo.NickName}}", true);    
  }
  if (type=='3')
  {
    xmlhttp.open("GET","{{url "User.SetProfile" .userInfo.NickName}}", true);    
  }
  if (type=='4')
  {
    xmlhttp.open("GET","{{url "User.GetExtraProfile" .userInfo.NickName}}", true);    
  }  
xmlhttp.send();
}
</script>

<div id="content">
  <div class="container">
    <div class="row">
    	<div class="col-xs-1"></div> 	
    	<div class="col-xs-10">
    	  <div class="panel panel-success">
          <div class="panel-heading"><h3 class="panel-title">个人资料</h3></div>
          <div class="panel-body">  
            <div class="col-md-2"> 
              <ul class="nav nav-pills nav-stacked">
                <li value="1" id="basic" class="active" onclick="updateUserInfoPanel(this.value)"><a>基本资料</a></li>
                {{if .isAuthor}}
                  <li value="2" id="password" onclick="updateUserInfoPanel(this.value)"><a>密码设置</a></li>
                  <li value="3" id="setting" onclick="updateUserInfoPanel(this.value)"><a>账号设置</a></li>
                {{end}}
                <li value="4" id="extra" onclick="updateUserInfoPanel(this.value)"><a>额外资料</a></li>
              </ul>
            </div>  

            <div class="col-md-8">
              <div id="userInfoPanel"> 
                <dl class="dl-horizontal text-success">
            	    <dt>头像</dt> <dd><img src={{.userInfo.AvatarUrl}} class="img-thumbnail" alt="头像" height="150" width="150"></dd></br>
                  <dt>昵称</dt> <dd>{{.userInfo.NickName}}</dd></br>
                  <dt>笔名</dt> <dd>{{.userInfo.PenName}}</dd></br>
                  <dt>性别</dt> <dd>{{.userInfo.Gender}}</dd></br>
                  <dt>邮箱</dt> <dd>{{.userInfo.Email}}</dd></br>
                  <dt>生日</dt> <dd>{{.userInfo.Birth}}</dd></br>
                  <dt>喜欢的作者</dt> <dd>{{.userInfo.FavoriteAuthor}}</dd></br>
                  <dt>酷爱的书籍</dt> <dd>{{.userInfo.FavoriteBook}}</dd></br>
                  <dt>兴趣爱好</dt> <dd>{{.userInfo.Intrest}}</dd></br>
                  <dt>个人简介</dt> <dd>{{.userInfo.Introduction}}</dd></br>                  
                </dl>
              <div> 
            </div>     
          </div>                       
         </div>  
      </div>
    </div> 
  </div>
 </div>
 
{{template "footer.html" .}}