{{set . "title" "文章列表"}}
{{template "header.html" .}}
{{template "navigate_bar.html" .}}
<script>
function updateUserArticleList(pageNumber)
{
var xmlhttp;    
if (pageNumber=="")
  {
  document.getElementById("articlelist").innerHTML="";
  return;
  }

if (pageNumber==-1|| pageNumber==-2)
{
  $('.pagination>li').each(function()
  {  
    var status = $(this).prop("class")    
    if (status == "active")
    { 
      var IdNumber = parseInt($(this).prop("id").substr(5)) 
      if (pageNumber == -1)
      {        
        pageNumber = IdNumber -1                   
      }
      else
      {        
        pageNumber = IdNumber + 1 
      }      
    }
  });
} 
// no li which class is active exist when click preious of next page link, just return. 
if (pageNumber==-1|| pageNumber==-2){return}

if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {    
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    { 
      // remove all pagination active class first    
      $('.pagination>li').removeClass('active'); 
      // remove disable regardless of exist
      $('#previous').removeClass('disabled');
      $('#next').removeClass('disabled'); 
      // reach first or last page
      if (pageNumber == 1)
      {
        $('#previous').addClass('disabled');            
      }
      if (pageNumber == {{.pageCount}})
      {       
        $('#next').addClass('disabled');      
      }
      // add active class to the clicked item
      var id = "#"+"page_"+pageNumber
      $(id).addClass('active');
      // return result
      document.getElementById("articlelist").innerHTML=xmlhttp.responseText;
    }
  } 

xmlhttp.open("GET","{{url "User.PageList" .ownerNickName ""}}" + pageNumber, true);
xmlhttp.send();
}
</script>

<div class="container">
  <div class="row">
    <div class="col-xs-1"></div>
  	<div class="col-xs-10">
  	  <div class="panel panel-success">
        {{if .isAuthor}}
          <div class="panel-heading"><h3 class="panel-title">我的文章</h3></div>
        {{else}}
          <div class="panel-heading">
            <h3 class="panel-title">
              <a href="{{url "User.Index" .ownerNickName}}">{{.ownerNickName}}</a>的文章
            </h3>
          </div>
        {{end}}
        <div class="panel-body"> 
          <div id="articlelist">
            {{$isAuthor := .isAuthor}}
            {{range .articlesOnOnePage}}
            <div class="row">           
              <div class="col-xs-7"><a href="{{url "User.ShowArticle" .AuthorNickName .Id}}">{{.Title}}</a></div>
              <div class="col-xs-5 text-right">
                <span class="badge text-right">{{.CreateTime}}</span> 
                {{if $isAuthor}}                        
                <a id="edit" href="{{url "User.EditArticle" .Id}}">
                  <span class="glyphicon glyphicon-edit"></span> 编辑
                </a>
                <a id="delete" href="{{url "User.DeleteArticle" .Id}}">
                  <span class="glyphicon glyphicon-remove-sign"></span> 删除
                </a>             
                {{end}} 
              </div>
            </div>
            {{end}}
          </div>

          <div class="text-center">                  
            <ul class="pagination pagination-centered">
              <li value="-1" id="previous" onclick="updateUserArticleList(this.value)"><a>上一页</a></li>
              {{range .pageSlice}}
                <li value={{.}} id=page_{{.}} onclick="updateUserArticleList(this.value)"><a>{{.}}</a></li>
              {{end}}              
              <li value="-2" id="next" onclick="updateUserArticleList(this.value)"><a>下一页</a></li>
            </ul>
          </div>      
        </div>                       
      </div>  
    </div>
  </div>  
</div>

{{template "footer.html" .}}