{{set . "title" "我的主页"}}
{{template "header.html" .}}
{{template "navigate_bar.html" .}}

<div class="container">
  <div class="row">
    <div class="col-xs-1"></div>
  	<div class="col-xs-10">
  	  <div class="panel panel-success" style="height:620px">
        <div class="panel-heading"><h3 class="panel-title">我的文章</h3></div>
        <div class="panel-body"> 
          {{$isAuthor := .isAuthor}}
          {{range .allArticles}}
          <div class="row">           
            <div class="col-xs-7"><a href="{{url "User.ShowArticle" .AuthorNickName .Id}}">{{.Title}}</a></div>
            <div class="col-xs-5 text-right">
              <span class="badge text-right">{{.CreateTime}}</span> 
              {{if $isAuthor}}                        
              <a id="edit" href="{{url "User.EditArticle" .Id}}">
                <span class="glyphicon glyphicon-edit"></span> 编辑
              </a>
              <a id="delete" href="{{url "User.DeleteArticle" .Id}}">
                <span class="glyphicon glyphicon-remove-sign"></span> 删除
              </a>             
              {{end}} 
            </div>
          </div>
          {{end}}

          <div class="text-center">                  
            <ul class="pagination pagination-centered">
              <li value="-1" id="previous" onclick="updateEssayList(this.value)"><a>上一页</a></li>
              {{range .pageSlice}}
                <li value={{.}} id=page_{{.}} onclick="updateEssayList(this.value)"><a>{{.}}</a></li>
              {{end}}              
              <li value="-2" id="next" onclick="updateEssayList(this.value)"><a>下一页</a></li>
            </ul>
          </div>      
        </div>                       
      </div>  
    </div>
  </div>  
</div>

{{template "footer.html" .}}