{{$isAuthor := .isAuthor}}
{{range .artilcesOnOnePage}}
<div class="row">           
  <div class="col-xs-8">
    <a href="{{url "User.ShowArticle" .AuthorNickName .Id}}">
      <span style="color:black">{{.Title}}</span>
    </a>
  </div>
  {{if $isAuthor}}
  <div class="col-xs-2 text-right">
    <span style="color:green">{{lenOfArray .Comments}}</span>
  </div>
  <div class="col-xs-2 text-right">    
    <!-- <span class="text-right">{{.CreateTime}}</span>  -->                            
    <a id="edit" href="{{url "User.EditArticle" .Id}}">
      <span class="glyphicon glyphicon-edit"></span>
    </a>
    <a id="delete" href="{{url "User.DeleteArticle" .Id}}">
      <span class="glyphicon glyphicon-remove-sign"></span>
    </a>   
  {{else}}
  <div class="col-xs-4 text-right">
    <span style="color:green">{{lenOfArray .Comments}}</span>
  </div>          
  {{end}} 
  </div>
</div>
{{end}}