
<form role="form-horizontal" action="{{url "User.PostSetProfile"}}" enctype="multipart/form-data" method="POST">  <dl class="dl-horizontal text-success">
    <dt>头像</dt> 
    <dd>
      <img src={{.user.AvatarUrl}} id="image" class="img-thumbnail" alt="Responsive image">
      </br>     
      <input type="file" name="uploadFile" onchange="document.getElementById('image').src=window.URL.createObjectURL(this.files[0])" />
      </br>               
    </dd>                      
                
    <dt>昵称</dt>             
    <dd>
      {{$nickName := .user.NickName}}
      {{with $field := field "userInfo.NickName" .}}
        <div class="input-group {{$field.ErrorClass}}">
          <textarea class="form-control" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" rows="1">{{$nickName}}</textarea> 
          {{if $field.Error}} 
          <span class="help-inline">{{$field.Error}}</span> 
          {{end}}
        {{end}}                
    </dd></br>
    <dt>笔名</dt>
    <dd>
      {{$penName := .user.PenName}}
      {{with $field := field "userInfo.PenName" .}}
        <div class="input-group {{$field.ErrorClass}}">
          <textarea class="form-control" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" rows="1">{{$penName}}</textarea> 
          {{if $field.Error}} 
          <span class="help-inline">{{$field.Error}}</span> 
          {{end}}
        {{end}} 
    </dd></br>
    <dt>性别</dt> 
    <dd>
      <div class="form-group">       
          <div class="col-sm-10">                     
            {{if eq .user.Gender "男"}}     
            <label class="radio-inline">                      
              <input type="radio" name="userInfo.Gender" value="男" checked> 男                      
            </label>
            <label class="radio-inline"> 
              <input type="radio" name="userInfo.Gender" value="女"> 女
            </label>     
            {{else}}
            <label class="radio-inline">                      
              <input type="radio" name="userInfo.Gender" value="男" > 男                      
            </label>
            <label class="radio-inline"> 
              <input type="radio" name="userInfo.Gender" value="女" checked> 女
            </label>    
            {{end}}      
          </div>            
        </div> 
    </dd></br>
    <dt>邮箱</dt> 
    <dd>              
      {{$email := .user.Email}}
      {{with $field := field "userInfo.Email" .}} 
        <div class="form-group {{$field.ErrorClass}}"> 
           <input type="email" class="form-control" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" value="{{$email}}" placeholder="{{$email}}" required> 
            {{if $field.Error}} 
            <span class="help-inline">{{$field.Error}}</span> 
            {{end}}                   
        </div> 
       {{end}} 
    </dd></br>
    <dt>生日</dt>    
    <dd> 
      {{$birth := .user.Birth}}
      {{with $field := field "userInfo.Birth" .}}
        <div class="form-group {{$field.ErrorClass}}">
          <textarea class="form-control" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" rows="1" placeholder="yyyy-mm-dd">{{$birth}}</textarea> 
          {{if $field.Error}} 
          <span class="help-inline">{{$field.Error}}</span> 
          {{end}}
        {{end}} 
    </dd></br>
    <dt>喜欢的作者</dt> 
    <dd>
      {{$FavoriteAuthor := .user.FavoriteAuthor}}
      {{with $field := field "userInfo.FavoriteAuthor" .}}
        <div class="form-group {{$field.ErrorClass}}">
          <textarea class="form-control" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" rows="4">{{$FavoriteAuthor}}</textarea> 
          {{if $field.Error}} 
          <span class="help-inline">{{$field.Error}}</span> 
          {{end}}
        {{end}} 
    </dd></br>
    <dt>酷爱的书籍</dt> 
     <dd>
      {{$FavoriteBook := .user.FavoriteBook}}
      {{with $field := field "userInfo.FavoriteBook" .}}
        <div class="form-group {{$field.ErrorClass}}">
          <textarea class="form-control" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" rows="4">{{$FavoriteBook}}</textarea> 
          {{if $field.Error}} 
          <span class="help-inline">{{$field.Error}}</span> 
          {{end}}
        {{end}} 
    </dd></br>
    <dt>兴趣爱好</dt>  <dd>
      {{$Intrest := .user.Intrest}}
      {{with $field := field "userInfo.Intrest" .}}
        <div class="form-group {{$field.ErrorClass}}">
          <textarea class="form-control" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" rows="5">{{$Intrest}}</textarea> 
          {{if $field.Error}} 
          <span class="help-inline">{{$field.Error}}</span> 
          {{end}}
        {{end}} 
    </dd></br>
    <dt>个人简介</dt>  <dd>
      {{$Introduction := .user.Introduction}}
      {{with $field := field "userInfo.Introduction" .}}
        <div class="form-group {{$field.ErrorClass}}">
          <textarea class="form-control" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" rows="5">{{$Introduction}}</textarea> 
          {{if $field.Error}} 
          <span class="help-inline">{{$field.Error}}</span> 
          {{end}}
        {{end}} 
    </dd></br>
    <dt></dt>  
    <dd>
      <div class="form-group">
        <label class="radio-inline">
          <div class="form-group"><button type="submit" class="btn btn-primary" id="submit">保存</button></div> 
        </label>         
      </div>  
    </dd></br>
  </dl>                  
</form>     