
    <form role="form-horizontal" action="{{url "User.PostSetPassword"}}" method="POST">  
      <dl class="dl-horizontal text-success"> 
        <dt>原始密码</dt>
        <dd>      
          {{with $field := field "oringinalPassword" .}} 
          <div class="form-group {{$field.ErrorClass}}">          
            <div class="col-sm-6"> 
              <input type="password" class="form-control" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="请输入原始密码">       
              {{if $field.Error}} 
              <span class="help-inline">{{$field.Error}}</span> 
              {{end}}         
            </div> 
          </div> 
          {{end}} 
        </dd></br>   
    
        <dt>新密码</dt>
         <dd>      
          {{with $field := field "userInfo.Password" .}} 
          <div class="form-group {{$field.ErrorClass}}">         
            <div class="col-sm-6"> 
              <input type="password" class="form-control" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="请输入新密码">       
              {{if $field.Error}} 
              <span class="help-inline">{{$field.Error}}</span> 
              {{end}}         
            </div> 
          </div> 
          {{end}} 
        </dd></br>   
    
        <dt>重复新密码</dt>
         <dd>      
          {{with $field := field "userInfo.ConfirmPassword" .}} 
          <div class="form-group {{$field.ErrorClass}}">        
            <div class="col-sm-6"> 
              <input type="password" class="form-control" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="重复输入新密码">       
              {{if $field.Error}} 
              <span class="help-inline">{{$field.Error}}</span> 
              {{end}}         
            </div> 
          </div> 
          {{end}} 
        </dd></br>   
        
        <dt></dt>  
        <dd>
          <div class="form-group">
            <label class="radio-inline">
              <div class="form-group">
                <button type="submit" class="btn btn-primary" id="submit">保存</button>
              </div>
            </label>         
          </div>  
        </dd>
      </dl>                  
    </form> 
