{{set . "title" .article.Title}}
{{template "header.html" .}}
{{template "navigate_bar.html" .}}

<script language="javascript"  type="text/javascript">
function controlDIV()
{
    status = document.getElementById("content_tradition").style.display;     
    if(status == "block")
    {
        document.getElementById("content_tradition").style.display="none";       
        document.getElementById("content_art").style.display="block";
        document.getElementById("bt_display").value="传统范";       
    }
    else
    {
        document.getElementById("content_tradition").style.display="block";
        document.getElementById("content_art").style.display="none";
        document.getElementById("bt_display").value="文艺范";          
    }
}
</script>

<div id="content">
  <div class="container">  
    <div class="row">
      <div class="col-xs-1"></div> 
      <div class="col-xs-10">      
        <pre class="text-center">
          <div class="text-center"><top>{{.article.Title}}</top></div>
          <div class="text-center"><top>{{.article.AuthorNickName}}</top></div>          
          <div class="text-left"><content>{{.article.Content}}</content></div>
          <div class="text-right">{{.article.CreateTime}} </div>  
        </pre>        
      </div>      
    </div>    
    <div class="row">  
      <div class="col-xs-1"></div>
      {{if .admin}}
        {{if .isRecommonded}}
        <div class="col-xs-9 text-right">
          <a href="{{url "RecommondArticle.DeleteRecommond" .article.AuthorNickName .article.Title .article.Id}}">取消推荐</a>
        </div>
        {{else}}
        <div class="col-xs-9 text-right">
          <a href="{{url "RecommondArticle.Recommond" .article.AuthorNickName .article.Title .article.Id}}">推荐</a>
        </div>
        {{end}} 
      {{else}}
        <div class="col-xs-9 text-right"></div>
      {{end}}
  
      {{if .isInArticleCollection}}  
      <div class="col-xs-1 text-right">      
        <a href="{{url "User.DeleteFromArticleCollection" .article.AuthorNickName .article.Title .article.Id}}">取消收藏</a>
      </div>
      {{else}}      
      <div class="col-xs-1 text-right">
        <a href="{{url "User.AddToArticleCollection" .article.AuthorNickName .article.Title .article.Id}}">收藏</a>
      </div>  
      {{end}}         
    </div>


  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-2"> 
      <div class="text-success">
        <well><span class="glyphicon glyphicon-comment text-warning"></span> 留言 [{{.commentCount}}条] </well>          
      </div>       
    </div>
    <div class="col-xs-3"> 
      <input type="button" class="btn btn-primary" id="bt_display" value="文艺范" onclick="controlDIV()"/>
    </div>    

    <div class="col-xs-4">
      <!-- JiaThis Button BEGIN -->
      <div class="jiathis_style_32x32">
        <a class="jiathis_button_qzone"></a>
        <a class="jiathis_button_tsina"></a>
        <a class="jiathis_button_tqq"></a>
        <a class="jiathis_button_weixin"></a>
        <a class="jiathis_button_renren"></a>
        <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
        <a class="jiathis_counter_style"></a>
      </div>
      <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
      <!-- JiaThis Button END -->
    </div>
  </div> 

    <div class="row" id="content_tradition" style="display:block;">
      <div class="col-xs-1"></div>
      <div class="col-xs-10">      
        <div class="panel panel-success">          
          {{range .article.Comments}}         
          <div class="row">
            </br>                 
            <div class="col-xs-1 text-right">
              <a href="{{url "User.Index" .Author.NickName}}">
                <img src={{.Author.AvatarUrl}} alt="头像" class="img-rounded" height="45" width="45">
              </a>
            </div>
            <div class="col-xs-11">
              <div class="row">
                <div class="col-xs-3">              
                  <a href="{{url "User.Index" .Author.NickName}}">               
                    <span style="color:black">{{.Author.NickName}}</span>                
                  </a>：  
                  <div class="text-left text-success"></div> 
                </div>    
                <div class="col-xs-9">
                 <div class="text-right text-success">{{.Time}} 发表</div>
                </div> 
              </div>
              <div class="row">                
                <div class="col-xs-12"><div class="text-left">{{nl2br .Content}}</div></div>               
                </br>  
              </div>               
            </div>            
          </div>  
          <div class="row">            
            <div class="col-xs-12">
              <div class="aligncenter" style="width:auto;height:0;border-top:1px dotted #468847;font-size:0;"></div>
            </div> 
          </div>
          {{end}} 
  
          <div class="row">    
            <div class="col-xs-0"></div> 
            <div class="col-xs-12">            
              <form role="form" action="{{url "User.PostArticleComment"}}" method="POST"> 
                {{$authorNickName := .article.AuthorNickName}}
                {{with $field := field "authorNickName" .}} 
                <textarea class="form-control" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" 
          rows="1" style="visibility:hidden; display:none;">{{$authorNickName}}</textarea> 
                {{end}} 
  
                {{$articleid := .article.Id}}
                {{with $field := field "articleid" .}} 
                <textarea class="form-control" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" rows="1" style="visibility:hidden; display:none;">{{$articleid}}</textarea> 
                {{end}}  
  
                {{with $field := field "comment.Content" .}} 
                <div class="input-group {{$field.ErrorClass}}">         
                  <span class="input-group-addon">新增评论</span>      
                  <textarea class="form-control" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" rows="5" placeholder="内容" required></textarea> 
                  {{if $field.Error}} 
                  <span class="help-inline">{{$field.Error}}</span> 
                  {{end}}   
                  <span class="input-group-addon">
                    <button type="submit" class="btn btn-primary" id="button_Form_Submit">提交</button> 
                  </span>      
                </div> 
                {{end}}       
              </form>  
            </div>  
          </div>  
        </div>  
      </div> 
    </div> 

    <div class="row" id="content_art" style="display:none;">
      <div class="col-xs-1"></div>
      <div class="col-xs-10">      
        <div class="text-success">
          <div class="row">        
          <div class="aligncenter" style="width:auto;height:0;border-top:1px dotted #468847;font-size:0;"></div><br> 
            {{range $index, $element := .article.Comments}} 
            <div class="{{if bettween $element.Content 0 30}}col-xs-2            
            {{else if bettween $element.Content 30 60}}col-xs-4
            {{else if bettween $element.Content 60 90}}col-xs-6
            {{else if bettween $element.Content 90 120}}col-xs-8
            {{else if bettween $element.Content 120 150}}col-xs-10
            {{else}}col-xs-12{{end}}">
              <div class="content">
                <a href="{{url "User.Index" $element.Author.NickName}}">
                  <img src={{$element.Author.AvatarUrl}} alt="头像" class="img-rounded" height="45" width="45">
                </a>
                <a href="{{url "User.Index" $element.Author.NickName}}">{{$element.Author.NickName}}</a>
                <br>{{nl2br $element.Content}}
                <div class="col-xs-12"><div class="text-right text-success">{{$element.Time}}</div></div>
              </div> 
            </div> 
            {{end}} 
          </div> 
  
          <div class="row">    
            <div class="col-xs-0"></div> 
            <div class="col-xs-12">            
              <form role="form" action="{{url "User.PostArticleComment"}}" method="POST"> 
                {{$authorNickName := .article.AuthorNickName}}
                {{with $field := field "authorNickName" .}} 
                <textarea class="form-control" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" 
          rows="1" style="visibility:hidden; display:none;">{{$authorNickName}}</textarea> 
                {{end}} 
  
                {{$articleid := .article.Id}}
                {{with $field := field "articleid" .}} 
                <textarea class="form-control" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" rows="1" style="visibility:hidden; display:none;">{{$articleid}}</textarea> 
                {{end}}  
  
                {{with $field := field "comment.Content" .}} 
                <div class="input-group {{$field.ErrorClass}}">         
                  <span class="input-group-addon">新增评论</span>      
                  <textarea class="form-control" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" rows="5" placeholder="内容" required></textarea> 
                  {{if $field.Error}} 
                  <span class="help-inline">{{$field.Error}}</span> 
                  {{end}}   
                  <span class="input-group-addon">
                    <button type="submit" class="btn btn-primary" id="button_Form_Submit">提交</button> 
                  </span>      
                </div> 
                {{end}}       
              </form>  
            </div>  
          </div>  
        </div>  
      </div> 
    </div> 
  </div>
</div>

{{template "footer.html" .}}