{{if .isAuthor}}
  {{set . "title" "我的关注"}}
{{else}}
  {{$title := concat .ownerNickName "的关注"}}
  {{set . "title" $title}}
{{end}}

{{template "header.html" .}}
{{template "navigate_bar.html" .}}

<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <div class="panel panel-success" style="height:620px">
          <div class="panel-heading"><h3 class="panel-title">我的关注 [{{.watchesCount}}]</h3></div>
          <div class="panel-body">
            {{range $index, $element := .watches}}   
            {{if divideBy $index 6}}&nbsp;</br>{{end}}       
            <div class="col-xs-2">
              <div class="panel panel-success" style="height:150px">      
                <div class="panel-body"> 
                  <div class="text-center">
                    <a href="{{url "User.Index" .NickName}}"><img src={{.AvatarUrl}} alt="头像" class="img-rounded" height="45" width="45"></a>
                  </div>                       
                  <div class="text-center"></br>
                    <a href="{{url "User.Index" .NickName}}"><span style="color:green">{{.NickName}}</br></br></span></a>
                  </div>                                                       
                </div>
              </div>
            </div>           
            {{end}}   
          </div>                       
        </div>  
      </div>
    </div>  
  </div>
</div>

{{template "footer.html" .}}