{{set . "title" "编辑散文"}}
{{template "header.html" .}}

{{if eq .email "xausee@gmail.com"}}
<div class="container"> 
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="text-muted">编辑散文:</div>
    <br>    
    <form role="form" action="{{url "Essay.PostEdit" .oringinalEssay.Id}}" method="POST">  
      <div class="input-group">
        <span class="input-group-addon">标签</span>     
        <select class="form-control input-sm" name="newEssay.Tag">
          {{if eq "民国散文" .oringinalEssay.Tag}}          
          <option selected>{{.oringinalEssay.Tag}}</option>
          <option>当代散文</option>  
          <option>国外散文</option>
          
          {{else if eq "当代散文" .oringinalEssay.Tag}}          
          <option selected>{{.oringinalEssay.Tag}}</option>
          <option>民国散文</option>  
          <option>国外散文</option>
          
          {{else if eq "国外散文" .oringinalEssay.Tag}}          
          <option selected>{{.oringinalEssay.Tag}}</option>
          <option>民国散文</option>  
          <option>当代散文</option>
          {{end}}
                           
        </select>
      </div> 
      <br>       

      {{$title := .oringinalEssay.Title}}
      {{with $field := field "newEssay.Title" .}} 
      <div class="input-group {{$field.ErrorClass}}">         
        <span class="input-group-addon">标题</span>      
        <textarea class="form-control" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" rows="1">{{$title}}</textarea> 
        {{if $field.Error}} 
          <span class="help-inline">{{$field.Error}}</span> 
        {{end}}         
      </div> 
      {{end}} 
      <br>           
      
      {{$content := .oringinalEssay.Content}}
      {{with $field := field "newEssay.Content" .}} 
      <div class="input-group {{$field.ErrorClass}}">         
        <span class="input-group-addon">内容</span>      
        <textarea class="form-control" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" rows="20">{{$content}}</textarea> 
        {{if $field.Error}} 
          <span class="help-inline">{{$field.Error}}</span> 
        {{end}}         
      </div> 
      {{end}} 
      <br>    

      {{$author := .oringinalEssay.Author}}
      {{with $field := field "newEssay.Author" .}} 
      <div class="input-group {{$field.ErrorClass}}">            
          <span class="input-group-addon">作者</span>    
          <input type="text" class="form-control" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$author}}" placeholder="{{$author}}" required>
          {{if $field.Error}} 
          <span class="help-inline">{{$field.Error}}</span> 
          {{end}}        
      </div> 
      {{end}} 
      <br>

      <div class="input-group">                  
        <button type="submit" class="btn btn-primary" id="button_Form_Submit">提交</button> 
      </div>  
      <br>        
    </form> 
  </div>
  <div class="col-md-4"></div>
</div> 
{{else}}
<div class="row text-center text-warning">
  <br><br><br><br>
  抱歉，您没有访问该页面的权限，只有管理员才可查看该页面。
  <br><br><br><br>
</div>     
{{end}}

{{template "footer.html" .}}