{{set . "title" "散文"}}
{{template "header.html" .}}
{{template "navigate_bar.html" .}}
<script>
function updateEssayList(pageNumber)
{
var xmlhttp;    
if (pageNumber=="")
  {
  document.getElementById("essaylist").innerHTML="";
  return;
  }
if (pageNumber==-1|| pageNumber==-2)
{
  $('.pagination>li').each(function()
  {  
    var status = $(this).prop("class")    
    if (status == "active")
    {      
      $(this).removeClass("active")
      var IdNumber = parseInt($(this).prop("id").substr(5)) 
      if (pageNumber == -1)
      {        
        pageNumber = IdNumber -1                   
      }
      else
      {        
        pageNumber = IdNumber + 1 
      }      
    }
  });
} 
// no li which class is active exist when click preious of next page link, just return. 
if (pageNumber==-1|| pageNumber==-2){return}
  
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {    
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
      // remove all pagination active class first    
      $('.pagination>li').removeClass('active'); 
      // add active class to the clicked item
      var id = "#"+"page_"+pageNumber
      $(id).addClass('active');
      // return result
      document.getElementById("essaylist").innerHTML=xmlhttp.responseText;
    }
  }  
  // try this for more times!!!! success!!!
xmlhttp.open("GET","{{url "Essay.PageList" ""}}"+pageNumber, true);
xmlhttp.send();
}
</script> 

<div class="container">
  <div class="row">
    <div class="col-xs-1"></div> 
    <div class="col-xs-10"> 
      <div class="panel panel-success">      
        <div class="panel-body">          
          <div id="essaylist">
            {{range .essaysOnOnePage}}
            <div class="row">
              <div class="col-xs-10"><a href="{{url "Essay.Show" .Id}}">{{.Title}}</a></div>    
              <div class="col-xs-2"><span class="badge text-right">{{.Author}}</div>
            </div>  
            {{end}}             
          </div>
          <div class="text-center">                  
            <ul class="pagination pagination-centered">
              <li value="-1" onclick="updateEssayList(this.value)"><a>上一页</a></li>              
              {{range .pageSlice}}
                <li value={{.}} id=page_{{.}} onclick="updateEssayList(this.value)"><a>{{.}}</a></li>
              {{end}}              
              <li value="-2" onclick="updateEssayList(this.value)"><a>下一页</a></li>
            </ul>
          </div>     
        </div>            
      </div>      
    </div>     
  </div>   
</div>

{{template "footer.html" .}}