{{set . "title" "散文"}}
{{template "header.html" .}}
{{template "navigate_bar.html" .}}
<script>
function updateEssayList(pageNumber)
{
var xmlhttp;    
if (pageNumber=="")
  {
  document.getElementById("essaylist").innerHTML="";
  return;
  }
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {    
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    document.getElementById("essaylistTest").innerHTML=xmlhttp.responseText;
    }
  }  
  // try this for more times!!!! success!!!
xmlhttp.open("GET","{{url "Essay.PageList" ""}}"+pageNumber, true);
xmlhttp.send();
}
</script> 

<div class="container">
  <div class="row">
    <div class="col-xs-1"></div> 
    <div class="col-xs-10"> 
      <div class="panel panel-success">      
        <div class="panel-body">          
          <div id="essaylistTest">
            {{range .allEssays}}
            <div class="row">
              <div class="col-xs-10"><a href="{{url "Essay.Show" .Id}}">{{.Title}}</a></div>    
              <div class="col-xs-2"><span class="badge text-right">{{.Author}}</div>
            </div>  
            {{end}}  
            </div> 
          </div>

          <div class="text-center">                  
            <ul class="pagination pagination-centered">
              <li value="-1" onclick="updateEssayList(this.value)"><a>&laquo;</a></li>
              <li value="1" onclick="updateEssayList(this.value)"><a>1</a></li>
              <li value="2" onclick="updateEssayList(this.value)"><a>2</a></li>
              <li value="3" onclick="updateEssayList(this.value)"><a>3</a></li>
              <li value="4" onclick="updateEssayList(this.value)"><a>4</a></li>
              <li value="5" onclick="updateEssayList(this.value)"><a>5</a></li>
              <li value="-2" onclick="updateEssayList(this.value)"><a>&raquo;</a></li>
            </ul>
          </div>     
        </div>            
      </div>      
    </div>     
  </div>   
</div>

{{template "footer.html" .}}