{{set . "title" .essay.Title}}
{{template "header.html" .}}
{{template "navigate_bar.html" .}}

<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-xs-1"></div> 
      <div class="col-xs-10">
        <pre class="text-left">
          <div class="text-center"><top>{{.essay.Title}}</top></div>
          <div class="text-center"><top>{{.essay.Author}}</top></div>          
          <div class="text-left"><content>{{.essay.Content}}</content></div>           
        </pre>
      </div>      
    </div> 
    {{if .admin}}
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
    	  <ul class="nav navbar-nav navbar-right">
          <li><a id="edit" href="{{url "Essay.Edit" .essay.Id}}">编辑</a></li> 
          <li><a id="delete" href="{{url "Essay.Delete" .essay.Id}}">删除</a></li> 
        </ul>
      </div> 
    </div>
    {{end}}
  </div>
</div>

{{template "footer.html" .}}