{{set . "title" .essay.Title}}
{{template "header.html" .}}
{{template "navigate_bar.html" .}}

<div class="container">
  <div class="row">
    <div class="col-xs-1"></div> 
    <div class="col-xs-10">
      <pre class="text-center">{{.essay.Title}}      	
        <div class="text-center"><a hef="adf">{{.essay.Author}}</a></div>
        <div class="text-left">{{.essay.Content}}</div>           
      </pre>
    </div>      
  </div> 
  {{if eq .email "xausee@gmail.com"}}
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
  	  <ul class="nav navbar-nav navbar-right">
        <li><a hef="adf">编辑</a></li> 
        <li><a hef="adf">删除</a></li>  
      </ul>
    </div> 
  </div>
  {{end}}
</div>

{{template "footer.html" .}}