{{set . "title" "关于散文家"}}
{{template "header.html" .}}
{{template "navigate_bar.html" .}}

<div class="container">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <div class="text-muted">        
        <pre style="font-size:15px">

          散文家     

      首先，谢谢您点开此页关注我们。
      本着对文字的爱好，对美好事物的追求，手指在燃烧在工作之余开发了本小站。

      生活很忙碌，很沉重，困倦的心灵远甚于疲惫的身体
      在为生计奔波的时候，不要忘了让心灵安静下来，
      仔细聆听那些已经忘却了但还在重复的声音
      发现那些我们不曾留意到的事物
      体会美好的真挚情感

      散文家的宗旨是收集美好的诗歌，散文，精彩片段以及微小说，以飨读者。
      如果您有好的文章，请不吝推荐。

      关于本站作者：
      一个半吊子程序猿
      一个半吊子文字爱好者
      一个真正的屌丝
      混迹深圳，浪荡飘零
      年近而立，一事无成
      遥望未来，前途堪忧

      <a href="{{url "User.Index" "手指在燃烧"}}">手指在燃烧的主页</a>        
        </pre>          
      </div>
    </div>
  </div>
</div>

{{template "footer.html" .}}