{{set . "title" "新增条目"}}
{{template "header.html" .}}

{{if eq .email "xausee@gmail.com"}}
<div class="container"> 
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-8">  
      <br> 
      <ul class="nav navbar-nav navbar-right">  
        <!-- <li><a href="/add/ancientpoem">新增古诗词</a></li> -->        
        <li><a href="/add/essay">新增散文</a></li>
        <li><a href="/add/modernPoem">新增现代诗</a></li>
        <li><a href="/add/quotation">新增摘录</a></li>
        <li><a href="/add/witticism">新增慧语</a></li>
        <li><a href="/add/hintFiction">新增微小说</a></li>
        <li><a href="{{url "App.Index" }}">返回首页</a></li>
      </ul>  
    </div>    
  </div> 
</div> 
{{else}}
<div class="row text-center text-warning">
  <br><br><br><br>
  抱歉，您没有访问该页面的权限，只有管理员才可查看该页面。
  <br><br><br><br>
</div>     
{{end}}

{{template "footer.html" .}}