{{set . "title" "捐赠"}}
{{template "header.html" .}}
{{template "navigate_bar.html" .}}

<div class="container">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <div class="text-muted">        
        <pre style="font-size:15px"> 

             给散文家捐赠

        如果散文家对您有所帮助，给您带了快乐       
        您的支持是对我们努力的肯定，散文家将会越做越好。
        谢谢您的支持，感激不尽！

        点击下面链接进入捐赠页面：
        </pre>  
        <div class="text-center">
          <a href="https://me.alipay.com/xausee">
            <img src="/public/img/Donate.PNG" alt="40x40" class="img-thumbnail">
            <div class="text-center">手指在燃烧的支付宝收款主页</div>
          </a>  
        </div>         
      </div>
    </div>
  </div>
</div>

{{template "footer.html" .}}