{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="container"> 
	<div class="row">
	  <div class="col-md-4"></div>
	  <div class="col-md-4">
		  <div class="page-header text-center text-info">
		  	<strong>呆呆家欢迎您，发呆最佳去处</strong>		     
          </div>
      </div>
      <div class="col-md-4">
      	<div class="row">
      	  <div class="col-md-8"></div>
      	  <div class="col-md-4">
            <div class="page-header text-right">
              <a href="/register">注册</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}