{{set . "title" "摘录百科"}}
{{template "header.html" .}}

<!-- <header class="hero-unit">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        {{if .email}}
          您好， {{.email}} <a href="#" id="logout">退出</a>
        {{else}}
          <a href="#" id="login">邮件账号登录</a>
        {{end}} 
        {{if .nickName}}
          您好， {{.nickName}} <a href="#" id="logout">退出</a>
        {{else}}
          <a href="#" id="login">邮件账号登录</a>
        {{end}}             
      </div>
    </div>
  </div>
</header> -->

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}