<div class="container">   
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <nav class="navbar navbar-inverse" role="navigation">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul id="navigation_bar" class="nav navbar-nav"> 
            <li><a href="{{url "App.Index" }}">转到首页</a></li>     
            <li><a href="{{url "Essay.Add"}}">新增散文</a></li>
            <li><a href="{{url "ModernPoem.Add"}}">新增现代诗</a></li>
            <li><a href="{{url "Quotation.Add"}}">新增摘录</a></li>
            <li><a href="{{url "HintFiction.Add"}}">新增微小说</a></li>
            <li><a href="{{url "Admin.UploadPicture"}}">上传图片</a></li>  
            <li><a href="{{url "Witticism.Add"}}">新增慧语</a></li> 
            <li><a href="{{url "Admin.UserManage"}}">用户管理</a></li> 
          </ul>           
        </div>
      </nav>    
    </div>
  </div> 
</div> 