<script type="text/javascript"> 
onload =function(){ 
  // check thru all <a> elements inside <li> inside .navbar-nav
  $('#navigation_bar>li>a').each(function(){ 
    // get current path name
    var path = window.location.pathname  //.split('/').pop(); 
    // get last path name of <li>
    var part_path = $(this).prop("href").split('/').pop()
    if (part_path == ""){
      $("#home").addClass("active");
    }else{ 
      // include part_path?        
      var i = path.lastIndexOf(part_path)       
      if(i>0){
        // remove all active class
        $('#navigation_bar>li').removeClass("active"); 
        // put active in parent of <a> which is <li>   
        $(this).parent("li").addClass("active"); 
      }     
    }    
  });
} 
</script>

<div class="container">   
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <nav class="navbar navbar-inverse" role="navigation">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul id="navigation_bar" class="nav navbar-nav"> 
            <li><a href="{{url "App.Index" }}">转到首页</a></li>     
            <li><a href="{{url "Essay.Add"}}">新增散文</a></li>
            <li><a href="{{url "ModernPoem.Add"}}">新增现代诗</a></li>
            <li><a href="{{url "Quotation.Add"}}">新增摘录</a></li>
            <li><a href="{{url "HintFiction.Add"}}">新增微小说</a></li>
            <li><a href="{{url "Admin.UploadPicture"}}">上传图片</a></li>  
            <li><a href="{{url "Witticism.Add"}}">新增慧语</a></li> 
            <li><a href="{{url "Admin.UserManage"}}">用户管理</a></li> 
          </ul>           
        </div>
      </nav>    
    </div>
  </div> 
</div> 