<div class="container"> 

  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <!-- <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol> -->

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="/public/img/bk0.jpg" alt="300x200">
              <div class="carousel-caption">
                <a href="www.baidu.com"></a> 
                <p>{{.witticism1.Content}}</p>
              </div>
          </div>
          
          <div class="item">
            <img src="/public/img/bk1.jpg" alt="300x200">
             <div class="carousel-caption">
               <a href="www.baidu.com"></a>               
               <p>{{.witticism2.Content}}</p>
            </div>
          </div>

          <div class="item">
            <img src="/public/img/bk2.jpg" alt="300x200">
             <div class="carousel-caption">
               <a href="www.baidu.com"></a>              
               <p>{{.witticism3.Content}}</p>
            </div>
          </div>

          <div class="item">
            <img src="/public/img/bk3.jpg" alt="300x200">
             <div class="carousel-caption">
               <a href="www.baidu.com"></a>               
               <p>{{.witticism4.Content}}</p>
            </div>
          </div>
        </div>

        <!-- Controls -->
        <!-- <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a> -->
      </div>  
    </div> 
  </div>
  <br>

  <div class="row">
  	<div class="col-xs-1"></div>    
    <div class="col-xs-5">
      <div class="panel panel-primary" style="height:400px">
        <div class="panel-heading">
          <h3 class="panel-title">古体诗词</h3>
        </div>
        <div class="panel-body"> 
          <div class="row">
            <div class="col-xs-10"><a href="#">{{.ancientPoem1.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.ancientPoem1.Author}}</div>
          </div> 

          <div class="row">
            <div class="col-xs-10"><a href="#">{{.ancientPoem2.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.ancientPoem2.Author}}</div>
          </div> 

          <div class="row">
            <div class="col-xs-10"><a href="#">{{.ancientPoem3.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.ancientPoem3.Author}}</div>
          </div> 

          <div class="row">
            <div class="col-xs-10"><a href="#">{{.ancientPoem4.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.ancientPoem4.Author}}</div>
          </div> 

          <div class="row">
            <div class="col-xs-10"><a href="#">{{.ancientPoem5.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.ancientPoem5.Author}}</div>
          </div> 

          <div class="row">
            <div class="col-xs-10"><a href="#">{{.ancientPoem6.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.ancientPoem6.Author}}</div>
          </div>           

          <div class="row">
            <div class="col-xs-10"><a href="#">{{.ancientPoem7.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.ancientPoem7.Author}}</div>
          </div> 

          <div class="row">
            <div class="col-xs-10"><a href="#">{{.ancientPoem8.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.ancientPoem8.Author}}</div>
          </div> 

          <div class="row">
            <div class="col-xs-10"><a href="#">{{.ancientPoem9.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.ancientPoem9.Author}}</div>
          </div> 

          <div class="row">
            <div class="col-xs-10"><a href="#">{{.ancientPoem10.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.ancientPoem10.Author}}</div>
          </div> 

          <div class="row">
            <div class="col-xs-10"><a href="#">{{.ancientPoem11.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.ancientPoem11.Author}}</div>
          </div> 

          <div class="row">
            <div class="col-xs-10"><a href="#">{{.ancientPoem12.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.ancientPoem12.Author}}</div>
          </div> 

          <div class="row">
            <div class="col-xs-10"><a href="#">{{.ancientPoem13.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.ancientPoem13.Author}}</div>
          </div> 

          <div class="row">
            <div class="col-xs-10"><a href="#">{{.ancientPoem14.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.ancientPoem14.Author}}</div>
          </div>  

          <div class="row">
            <div class="col-xs-10"><a href="#">{{.ancientPoem15.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.ancientPoem15.Author}}</div>
          </div> 

          <div class="row text-center">
            <div class="col-xs-10 "><a href="#">更多内容>>></a></div>                
          </div>           
        </div>   
      </div>
    </div> 

    <div class="col-xs-5">
      <div class="panel panel-primary" style="height:200px">        
        <div class="panel-heading">
          <h3 class="panel-title">名人语录</h3>
        </div>
        <div class="panel-body">
          <blockquote >
            <p>{{.quotations1.Content}}</p>
            <small class="text-right"><a hef="adf">{{.quotations1.Author}}</a></small>
          </blockquote>
        </div>   
      </div> 
      <div class="panel panel-primary" style="height:200px">        
        <div class="panel-heading">
          <h3 class="panel-title">谚语</h3>
        </div>
        <div class="panel-body">
          <blockquote >
            <p>{{.quotations2.Content}}</p>
            <small class="text-right"><a hef="adf">{{.quotations2.Author}}</a></small>
          </blockquote>
        </div>   
      </div> 
    </div>

  </div>

  <div class="row">
    <div class="col-xs-1"></div>    
    <div class="col-xs-5">
      <div class="panel panel-primary" style="height:400px">
        <div class="panel-heading">
          <h3 class="panel-title">现代诗歌</h3>
        </div>
        <div class="panel-body"> 
          <div class="row">
            <div class="col-xs-10"><a href="#">{{.modernPoem1.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.modernPoem1.Author}}</div>
          </div> 
          <div class="row">
            <div class="col-xs-10"><a href="#">{{.modernPoem2.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.modernPoem2.Author}}</div>
          </div> 
          <div class="row">
            <div class="col-xs-10"><a href="#">{{.modernPoem3.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.modernPoem3.Author}}</div>
          </div> 
          <div class="row">
            <div class="col-xs-10"><a href="#">{{.modernPoem4.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.modernPoem4.Author}}</div>
          </div> 
          <div class="row">
            <div class="col-xs-10"><a href="#">{{.modernPoem5.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.modernPoem5.Author}}</div>
          </div> 
          <div class="row">
            <div class="col-xs-10"><a href="#">{{.modernPoem6.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.modernPoem6.Author}}</div>
          </div> 
          <div class="row">
            <div class="col-xs-10"><a href="#">{{.modernPoem7.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.modernPoem7.Author}}</div>
          </div> 
          <div class="row">
            <div class="col-xs-10"><a href="#">{{.modernPoem8.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.modernPoem8.Author}}</div>
          </div> 
          <div class="row">
            <div class="col-xs-10"><a href="#">{{.modernPoem9.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.modernPoem9.Author}}</div>
          </div> 
          <div class="row">
            <div class="col-xs-10"><a href="#">{{.modernPoem10.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.modernPoem10.Author}}</div>
          </div> 
          <div class="row">
            <div class="col-xs-10"><a href="#">{{.modernPoem11.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.modernPoem11.Author}}</div>
          </div> 
          <div class="row">
            <div class="col-xs-10"><a href="#">{{.modernPoem12.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.modernPoem12.Author}}</div>
          </div> 
          <div class="row">
            <div class="col-xs-10"><a href="#">{{.modernPoem13.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.modernPoem13.Author}}</div>
          </div> 
          <div class="row">
            <div class="col-xs-10"><a href="#">{{.modernPoem14.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.modernPoem14.Author}}</div>
          </div> 
          <div class="row">
            <div class="col-xs-10"><a href="#">{{.modernPoem15.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.modernPoem15.Author}}</div>
          </div>                  
        </div>   
      </div>
    </div> 

    <div class="col-xs-5">
      <div class="panel panel-primary">        
        <div class="panel-heading">
          <h3 class="panel-title">散文</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-10"><a href="#">{{.essay1.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.essay1.Author}}</div>
          </div> 
          <div class="row">
            <div class="col-xs-10"><a href="#">{{.essay1.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.essay1.Author}}</div>
          </div> 
          <div class="row">
            <div class="col-xs-10"><a href="#">{{.essay1.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.essay1.Author}}</div>
          </div> 
          <div class="row">
            <div class="col-xs-10"><a href="#">{{.essay1.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.essay1.Author}}</div>
          </div> 
          <div class="row">
            <div class="col-xs-10"><a href="#">{{.essay1.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.essay1.Author}}</div>
          </div> 
          <div class="row">
            <div class="col-xs-10"><a href="#">{{.essay1.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.essay1.Author}}</div>
          </div> 
          <div class="row">
            <div class="col-xs-10"><a href="#">{{.essay1.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.essay1.Author}}</div>
          </div> 
          <div class="row">
            <div class="col-xs-10"><a href="#">{{.essay1.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.essay1.Author}}</div>
          </div> 
          <div class="row">
            <div class="col-xs-10"><a href="#">{{.essay1.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.essay1.Author}}</div>
          </div> 
          <div class="row">
            <div class="col-xs-10"><a href="#">{{.essay1.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.essay1.Author}}</div>
          </div> 
          <div class="row">
            <div class="col-xs-10"><a href="#">{{.essay1.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.essay1.Author}}</div>
          </div> 
          <div class="row">
            <div class="col-xs-10"><a href="#">{{.essay1.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.essay1.Author}}</div>
          </div> 
          <div class="row">
            <div class="col-xs-10"><a href="#">{{.essay1.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.essay1.Author}}</div>
          </div> 
          <div class="row">
            <div class="col-xs-10"><a href="#">{{.essay1.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.essay1.Author}}</div>
          </div> 
          <div class="row">
            <div class="col-xs-10"><a href="#">{{.essay1.Title}}</a></div>    
            <div class="col-xs-2"><span class="badge text-right">{{.essay1.Author}}</div>
          </div> 

          <pre class="text-center">{{.essay1.Title}}
            <div class="text-center"><a hef="adf">{{.essay1.Author}}</a></div>
            <div class="text-left">{{.essay1.Content}}</div>           
          </pre>
        </div>   
      </div> 
    </div>
  </div>
 </div> 