<div class="container"> 
  {{if .showWitticism}}
    {{template "carousel.html" .}}<br>
  {{end}}
  
  <div class="row">
  	<div class="col-xs-1"></div>  
    <div class="col-xs-5">{{template "modern_poem_panel.html" .}}</div> 
    <div class="col-xs-5">{{template "essay_panel.html" .}}</div>
  </div>

  <div class="row">
    <div class="col-xs-1"></div>    
    <div class="col-xs-5">{{template "quotation_panel.html" .}}</div> 
    <div class="col-xs-5">{{template "hint_fiction_panel.html" .}}</div>
  </div>

  <div class="row">
    <div class="col-xs-1"></div>    
    <div class="col-xs-5">{{template "essay_rank_panel.html" .}}</div>
    <div class="col-xs-5">{{template "hint_fiction_rank_panel.html" .}}</div>
  </div>  

  <div class="row">
    <div class="col-xs-1"></div>    
    <div class="col-xs-10">{{template "comment_rank_panel.html" .}}</div>    
  </div>  
 </div> 