<div class="container"> 
  {{template "carousel.html" .}}<br>
  <div class="row">
  	<div class="col-xs-1"></div>    
    <div class="col-xs-5">{{template "ancient_poem_panel.html" .}}</div> 
    <div class="col-xs-5">{{template "modern_poem_panel.html" .}}</div> 
  </div>

  <div class="row">
    <div class="col-xs-1"></div>    
    <div class="col-xs-5">{{template "quotation_panel.html" .}}</div> 
    <div class="col-xs-5">{{template "quotation_panel.html" .}}</div> 
  </div>

  <div class="row">
    <div class="col-xs-1"></div>    
    <div class="col-xs-5">{{template "essay_panel.html" .}}</div>
    <div class="col-xs-5">{{template "hint_fiction_panel.html" .}}</div>

    <!-- <div class="col-xs-5">
      <pre class="text-center">{{.essay1.Title}}
        <div class="text-center"><a hef="adf">{{.essay1.Author}}</a></div>
        <div class="text-left">{{.essay1.Content}}</div>           
      </pre>
    </div>  -->
  </div>  
 </div> 