<div class="panel" style="height:400px">        
  <div class="panel-heading"><h3 class="panel-title">散文</h3></div>
  <div class="col-xs-12">
    <div class="aligncenter" style="width:auto;height:0;border-top:1px solid #000;"></div>
  </div>          
  <div class="panel-body">
    {{range .essays}}
      <div class="row">
        <div class="col-xs-8">
          <a href="{{url "Essay.Show" .Id}}">
            <span style="color:black">{{.Title}}</span>
          </a>
        </div>    
        <div class="col-xs-4 text-right">{{.Author}}</div>
      </div>  
    {{end}}   
    {{if .moreEssay}} 
      <div class="row text-center">
        <div class="col-xs-10 "><a href="/essay"><span style="color:black">更多散文>>></span></a></div>                
      </div>
    {{end}}
  </div>
</div>