<div class="panel panel-primary" style="height:400px">        
  <div class="panel-heading"><h3 class="panel-title">散文</h3></div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-10"><a href="#">{{.essay1.Title}}</a></div>    
      <div class="col-xs-2"><span class="badge text-right">{{.essay1.Author}}</div>
    </div> 
    <div class="row">
      <div class="col-xs-10"><a href="#">{{.essay1.Title}}</a></div>    
      <div class="col-xs-2"><span class="badge text-right">{{.essay1.Author}}</div>
    </div> 
    <div class="row">
      <div class="col-xs-10"><a href="#">{{.essay1.Title}}</a></div>    
      <div class="col-xs-2"><span class="badge text-right">{{.essay1.Author}}</div>
    </div> 
    <div class="row">
      <div class="col-xs-10"><a href="#">{{.essay1.Title}}</a></div>    
      <div class="col-xs-2"><span class="badge text-right">{{.essay1.Author}}</div>
    </div> 
    <div class="row">
      <div class="col-xs-10"><a href="#">{{.essay1.Title}}</a></div>    
      <div class="col-xs-2"><span class="badge text-right">{{.essay1.Author}}</div>
    </div> 
    <div class="row">
      <div class="col-xs-10"><a href="#">{{.essay1.Title}}</a></div>    
      <div class="col-xs-2"><span class="badge text-right">{{.essay1.Author}}</div>
    </div> 
    <div class="row">
      <div class="col-xs-10"><a href="#">{{.essay1.Title}}</a></div>    
      <div class="col-xs-2"><span class="badge text-right">{{.essay1.Author}}</div>
    </div> 
    <div class="row">
      <div class="col-xs-10"><a href="#">{{.essay1.Title}}</a></div>    
      <div class="col-xs-2"><span class="badge text-right">{{.essay1.Author}}</div>
    </div> 
    <div class="row">
      <div class="col-xs-10"><a href="#">{{.essay1.Title}}</a></div>    
      <div class="col-xs-2"><span class="badge text-right">{{.essay1.Author}}</div>
    </div> 
    <div class="row">
      <div class="col-xs-10"><a href="#">{{.essay1.Title}}</a></div>    
      <div class="col-xs-2"><span class="badge text-right">{{.essay1.Author}}</div>
    </div> 
    <div class="row">
      <div class="col-xs-10"><a href="#">{{.essay1.Title}}</a></div>    
      <div class="col-xs-2"><span class="badge text-right">{{.essay1.Author}}</div>
    </div> 
    <div class="row">
      <div class="col-xs-10"><a href="#">{{.essay1.Title}}</a></div>    
      <div class="col-xs-2"><span class="badge text-right">{{.essay1.Author}}</div>
    </div> 
    <div class="row">
      <div class="col-xs-10"><a href="#">{{.essay1.Title}}</a></div>    
      <div class="col-xs-2"><span class="badge text-right">{{.essay1.Author}}</div>
    </div> 
    <div class="row">
      <div class="col-xs-10"><a href="#">{{.essay1.Title}}</a></div>    
      <div class="col-xs-2"><span class="badge text-right">{{.essay1.Author}}</div>
    </div> 
    <div class="row">
      <div class="col-xs-10"><a href="#">{{.essay1.Title}}</a></div>    
      <div class="col-xs-2"><span class="badge text-right">{{.essay1.Author}}</div>
    </div> 
    <div class="row text-center">
      <div class="col-xs-10 "><a href="#">更多内容>>></a></div>                
    </div>
  </div>
</div>