  {{if eq .RunMode "dev"}}
    {{template "debug.html" .}}
  {{end}}

  <div class="modal-footer"> 
    <p class="text-center">
      <a href="#">摘 录 百 科</a> @ 2013 
      <a href="http://www.darkterritory.net/">手指在燃烧</a>, all rights reserved
    </p>    
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>

  </body>
</html>
