<div class="panel panel-primary" style="height:400px">
  <div class="panel-heading"><h3 class="panel-title">微小说</h3></div>
  <div class="panel-body"> 
    <div class="row">
      <div class="col-xs-10"><a href="#">{{.modernPoem1.Title}}</a></div>    
      <div class="col-xs-2"><span class="badge text-right">{{.modernPoem1.Author}}</div>
    </div> 
    <div class="row">
      <div class="col-xs-10"><a href="#">{{.modernPoem2.Title}}</a></div>    
      <div class="col-xs-2"><span class="badge text-right">{{.modernPoem2.Author}}</div>
    </div> 
    <div class="row">
      <div class="col-xs-10"><a href="#">{{.modernPoem3.Title}}</a></div>    
      <div class="col-xs-2"><span class="badge text-right">{{.modernPoem3.Author}}</div>
    </div> 
    <div class="row">
      <div class="col-xs-10"><a href="#">{{.modernPoem4.Title}}</a></div>    
      <div class="col-xs-2"><span class="badge text-right">{{.modernPoem4.Author}}</div>
    </div> 
    <div class="row">
      <div class="col-xs-10"><a href="#">{{.modernPoem5.Title}}</a></div>    
      <div class="col-xs-2"><span class="badge text-right">{{.modernPoem5.Author}}</div>
    </div> 
    <div class="row">
      <div class="col-xs-10"><a href="#">{{.modernPoem6.Title}}</a></div>    
      <div class="col-xs-2"><span class="badge text-right">{{.modernPoem6.Author}}</div>
    </div> 
    <div class="row">
      <div class="col-xs-10"><a href="#">{{.modernPoem7.Title}}</a></div>    
      <div class="col-xs-2"><span class="badge text-right">{{.modernPoem7.Author}}</div>
    </div> 
    <div class="row">
      <div class="col-xs-10"><a href="#">{{.modernPoem8.Title}}</a></div>    
      <div class="col-xs-2"><span class="badge text-right">{{.modernPoem8.Author}}</div>
    </div> 
    <div class="row">
      <div class="col-xs-10"><a href="#">{{.modernPoem9.Title}}</a></div>    
      <div class="col-xs-2"><span class="badge text-right">{{.modernPoem9.Author}}</div>
    </div> 
    <div class="row">
      <div class="col-xs-10"><a href="#">{{.modernPoem10.Title}}</a></div>    
      <div class="col-xs-2"><span class="badge text-right">{{.modernPoem10.Author}}</div>
    </div> 
    <div class="row">
      <div class="col-xs-10"><a href="#">{{.modernPoem11.Title}}</a></div>    
      <div class="col-xs-2"><span class="badge text-right">{{.modernPoem11.Author}}</div>
    </div> 
    <div class="row">
      <div class="col-xs-10"><a href="#">{{.modernPoem12.Title}}</a></div>    
      <div class="col-xs-2"><span class="badge text-right">{{.modernPoem12.Author}}</div>
    </div> 
    <div class="row">
      <div class="col-xs-10"><a href="#">{{.modernPoem13.Title}}</a></div>    
      <div class="col-xs-2"><span class="badge text-right">{{.modernPoem13.Author}}</div>
    </div> 
    <div class="row">
      <div class="col-xs-10"><a href="#">{{.modernPoem14.Title}}</a></div>    
      <div class="col-xs-2"><span class="badge text-right">{{.modernPoem14.Author}}</div>
    </div> 
    <div class="row">
      <div class="col-xs-10"><a href="#">{{.modernPoem15.Title}}</a></div>    
      <div class="col-xs-2"><span class="badge text-right">{{.modernPoem15.Author}}</div>
    </div>
    <div class="row text-center">
      <div class="col-xs-10 "><a href="#">更多内容>>></a></div>                
    </div>                  
  </div>   
</div>