<div class="panel panel-success" style="height:400px">
  <div class="panel-heading"><h3 class="panel-title">现代诗</h3></div>
  <div class="panel-body">     
    {{range .modernPoems}}
      <div class="row">
        <div class="col-xs-9">
          <a  href="{{url "ModernPoem.Show" .Id}}">
            <span style="color:black">{{.Title}}</span>
          </a>
        </div>    
        <div class="col-xs-3 text-right"><span class="badge">{{.Author}}</div>
      </div>  
    {{end}}
    {{if .moreModernPoem}}
      <div class="row text-center">
        <div class="col-xs-10 "><a href="/modernPoem">更多现代诗>>></a></div>                
      </div>   
    {{end}}              
  </div>   
</div>