<div class="container">   
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <nav class="navbar navbar-inverse" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">首页</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav">           
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">散文<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/essay/minguo">民国时期</a></li>
                <li><a href="/essay/dangdai">当代散文</a></li>              
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">现代诗歌<b class="caret"></b></a>
              <ul class="dropdown-menu">                
                <li><a href="/modernpoem/changshi">尝试诗派</a></li>              
                <li><a href="/modernpoem/wenxueyanjiuhui">文学研究会</a></li>
                <li><a href="/modernpoem/chuangzaoshe">创造社</a></li>
                <li><a href="/modernpoem/hupan">湖畔诗派</a></li>
                <li><a href="/modernpoem/xinyue">新月派</a></li>
                <li><a href="/modernpoem/xiangzheng">象征诗派</a></li> 
                <li><a href="/modernpoem/xiandai">现代派</a></li>              
                <li><a href="/modernpoem/qiyue">七月派</a></li>                
                <li><a href="/modernpoem/xinxiandai">新现代诗派</a></li>
                <li><a href="/modernpoem/lanxingshishe">蓝星诗社</a></li>
                <li><a href="/modernpoem/chuangshiji">创世纪诗社</a></li>
                <li><a href="/modernpoem/menglong">朦胧诗派</a></li>              
                <li><a href="/modernpoem/xinxianshizhuyi">新现实主义</a></li>
                <li><a href="/modernpoem/daxuesheng">大学生诗派</a></li>
                <li><a href="/modernpoem/xinshengdai">新生代</a></li>
                <li><a href="/modernpoem/others">其它流派</a></li>                           
              </ul>
            </li> 
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">片段摘录<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">小说节选</a></li>
                <li><a href="#">散文截选</a></li>                
              </ul>
            </li>            
            <li><a href="/weixiaoshuo">微小说</a></li>
            <li><a href="/aboutus">关于我们</a></li>
            <li class="active"><a href="/donate">捐赠</a></li>
          </ul> 
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="关键字">
            </div>
            <button type="submit" class="btn btn-default">搜索</button>
          </form>      
        </div>
      </nav>    
    </div>
  </div> 
</div> 