<div class="container">   
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <nav class="navbar navbar-inverse" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">首页</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav">           
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">散文<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/essay/minguo">民国时期</a></li>
                <li><a href="/essay/dangdai">当代散文</a></li>              
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">现代诗歌<b class="caret"></b></a>
              <ul class="dropdown-menu">                
                <li><a href="/modernpoem/尝试诗派">尝试诗派</a></li>              
                <li><a href="/modernpoem/文学研究会">文学研究会</a></li>
                <li><a href="/modernpoem/创造社">创造社</a></li>
                <li><a href="/modernpoem/湖畔诗派">湖畔诗派</a></li>
                <li><a href="/modernpoem/新月派">新月派</a></li>
                <li><a href="/modernpoem/象征诗派">象征诗派</a></li> 
                <li><a href="/modernpoem/现代派">现代派</a></li>              
                <li><a href="/modernpoem/七月派">七月派</a></li>                
                <li><a href="/modernpoem/新现代诗派">新现代诗派</a></li>
                <li><a href="/modernpoem/蓝星诗社">蓝星诗社</a></li>
                <li><a href="/modernpoem/创世纪诗社">创世纪诗社</a></li>
                <li><a href="/modernpoem/朦胧诗派">朦胧诗派</a></li>              
                <li><a href="/modernpoem/新现实主义">新现实主义</a></li>
                <li><a href="/modernpoem/大学生诗派">大学生诗派</a></li>
                <li><a href="/modernpoem/新生代">新生代</a></li>
                <li><a href="/modernpoem/其它流派">其它流派</a></li>  
                <li class="divider"></li>
                <li><a href="/modernpoem/foreignpoems">国外诗歌</a></li>                          
              </ul>
            </li> 
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">片段摘录<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/quotation/小说节选">小说节选</a></li>
                <li><a href="/quotation/散文截选">散文截选</a></li>                
              </ul>
            </li>            
            <li><a href="/hintFiction">微小说</a></li>
            <li><a href="/aboutus">关于我们</a></li>
            <li class="active"><a href="/donate">捐赠</a></li>
            {{if eq .email "xausee@gmail.com"}}
            <li><a href="/add">新增</a></li>
            {{end}}
          </ul> 
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="关键字">
            </div>
            <button type="submit" class="btn btn-default">搜索</button>
          </form>      
        </div>
      </nav>    
    </div>
  </div> 
</div> 