<script type="text/javascript"> 
onload =function(){ 
  // check thru all <a> elements inside <li> inside .navbar-nav
  $('#navigation_bar>li>a').each(function(){ 
    // get current path name
    var path = window.location.pathname  //.split('/').pop(); 
    // get last path name of <li>
    var part_path = $(this).prop("href").split('/').pop()
    if (part_path == ""){
      $("#home").addClass("active");
    }else{ 
      // include part_path?        
      var i = path.lastIndexOf(part_path)       
      if(i>0){
        // remove all active class
        $('#navigation_bar>li').removeClass("active"); 
        // put active in parent of <a> which is <li>   
        $(this).parent("li").addClass("active"); 
      }     
    }    
  });
 } 

 // 下面三个提交form的ajax函数来自于 ZjFree-自由自在 的博客：
 // http://www.cnblogs.com/zjfree/archive/2011/12/30/2307683.html

 //将form转为AJAX提交
function ajaxSubmit(frm, fn) {
    var dataPara = getFormJson(frm);
    $.ajax({
        url: frm.action,
        type: frm.method,
        data: dataPara,
        success: fn
    });
}

//将form中的值转换为键值对。
function getFormJson(frm) {
    var o = {};
    var a = $(frm).serializeArray();
    $.each(a, function () {
        if (o[this.name] !== undefined) {
            if (!o[this.name].push) {
                o[this.name] = [o[this.name]];
            }
            o[this.name].push(this.value || '');
        } else {
            o[this.name] = this.value || '';
        }
    });

    return o;
}

//调用
$(document).ready(function(){
    $('#search').bind('submit', function(){
        ajaxSubmit(this, function(data){
            //alert(data);
            document.getElementById("content").innerHTML = data
        });
        return false;
    });
});

</script> 


<div class="container">   
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <nav class="navbar navbar-inverse" role="navigation">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul id="navigation_bar" class="nav navbar-nav"> 
            <li id="home"><a href="{{url "App.Index" }}">首页</a></li>           
            <li class="dropdown">
              <a href="essay" class="dropdown-toggle" data-toggle="dropdown">散文<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/essay/民国散文">民国散文</a></li>
                <li><a href="/essay/当代散文">当代散文</a></li>   
                <li><a href="/essay/国外散文">国外散文</a></li>           
              </ul>
            </li>
            <li class="dropdown">
              <a href="/modernPoem" class="dropdown-toggle" data-toggle="dropdown">现代诗歌<b class="caret"></b></a>
              <ul class="dropdown-menu">                
                <li><a href="/modernPoem/尝试诗派">尝试诗派</a></li>              
                <li><a href="/modernPoem/文学研究会">文学研究会</a></li>
                <li><a href="/modernPoem/创造社">创造社</a></li>
                <li><a href="/modernPoem/湖畔诗派">湖畔诗派</a></li>
                <li><a href="/modernPoem/新月派">新月派</a></li>
                <li><a href="/modernPoem/象征诗派">象征诗派</a></li> 
                <li><a href="/modernPoem/现代派">现代派</a></li>              
                <li><a href="/modernPoem/七月派">七月派</a></li>                
                <li><a href="/modernPoem/新现代诗派">新现代诗派</a></li>
                <li><a href="/modernPoem/蓝星诗社">蓝星诗社</a></li>
                <li><a href="/modernPoem/创世纪诗社">创世纪诗社</a></li>
                <li><a href="/modernPoem/朦胧诗派">朦胧诗派</a></li>              
                <li><a href="/modernPoem/新现实主义">新现实主义</a></li>
                <li><a href="/modernPoem/大学生诗派">大学生诗派</a></li>
                <li><a href="/modernPoem/新生代">新生代</a></li>
                <li><a href="/modernPoem/其它流派">其它流派</a></li>  
                <li class="divider"></li>
                <li><a href="/modernPoem/foreignpoems">国外诗歌</a></li>                          
              </ul>
            </li> 
            <li class="dropdown">
              <a href="/quotation" class="dropdown-toggle" data-toggle="dropdown">片段摘录<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/quotation/小说节选">小说节选</a></li>
                <li><a href="/quotation/散文截选">散文截选</a></li>                
              </ul>
            </li>            
            <li><a href="/hintFiction">微小说</a></li>
            <li><a href="/aboutus">关于我们</a></li>
            <li><a href="/donate">捐赠</a></li>
            {{if eq .nickName "水蓝色"}}
            <li><a href="/add">新增</a></li>
            {{end}}
          </ul> 
          <form  id="search" class="navbar-form navbar-right" action="{{url "App.PostSearch"}}" role="search">
            {{with $field := field "keywords" .}}
            <div class="form-group {{$field.ErrorClass}}">     
              <input type="text" class="form-control" id="{{$field.Id}}" name="{{$field.Name}}" placeholder="篇名、作者">
              {{if $field.Error}} 
              <span class="help-inline">{{$field.Error}}</span> 
              {{end}}  
            </div>
            {{end}}
            <button type="submit" class="btn btn-default">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </form>      
        </div>
      </nav>    
    </div>
  </div> 
</div> 