<div class="panel" style="height:400px">
  <div class="panel-heading"><h3 class="panel-title">片段摘录</h3></div>
  <div class="col-xs-12">
    <div class="aligncenter" style="width:auto;height:0;border-top:1px solid #000;"></div>
  </div>
  <div class="panel-body"> 
    {{range .quotations}}
      <div class="row">
        <div class="col-xs-9">
          <a href="{{url "Quotation.Show" .Id}}">            
            <span style="color:black">{{.OriginalTitle}}</span>
          </a>
        </div>    
        <div class="col-xs-3 text-right">{{.Author}}</div>
      </div>  
    {{end}}     
    {{if .moreQuotation}}   
      <div class="row text-center">
        <div class="col-xs-10 "><a href="/quotation">更多片段截选>>></a></div>                
      </div>  
    {{end}}               
  </div>   
</div>