<div class="panel panel-success" style="height:400px">        
  <div class="panel-heading"><h3 class="panel-title">小窗台</h3></div>
  <div class="panel-body">
    <div class="row">
     <div class="col-xs-1"></div>
     <div class="col-xs-10">
       <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
         <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="/public/img/1.jpg" alt="300x500">
            </div>
        
            <div class="item">
              <img src="/public/img/2.jpg" alt="300x500">           
            </div>

            <div class="item">
              <img src="/public/img/3.jpg" alt="300x500">           
            </div>

            <div class="item">
              <img src="/public/img/4.jpg" alt="300x500">           
            </div>
          </div>

          <!-- Controls -->
          <!-- <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a> -->
        </div>  
      </div> 
    </div>    
  </div>
</div>